<footer class="main-footer">
    <div class="row">
        <div class="col-md-7">
           <p style="text-align: center;">Copyright © 2011-2018 <a href="/">CoinJolt.com</a> <span class="dash">-</span> <span>All rights reserved.</span> Call us toll free at <a style="color: #4165b4" href="tel:1-888-998-9880">1-888-998-9980</a> or email <a style="color: #4165b4" href="mailto:support@coinjolt.com">support@coinjolt.com</a>.</p>
            </div>
            <div class="col-md-5">
                <div class="pull-right">
                    {{#if_eq user.type 2 }}
                        <a href="/account/submit-a-request">Submit a Request</a>
                        <a href="/privacy-policy" target="_blank">Privacy Policy</a>
                        {{!-- <input type="text" name="Element To Be Copied" id="copy-me" value="https://coinjolt.com?user={{reffer_link_id}}" style="display: none;"/> --}} 
                        <input type="text" name="Element To Be Copied" id="copy-me" value="{{base_url}}user/{{reffer_link_id}}" style="display: none;"/>
                        <a href="#" id="clipboardBtn" data-toggle="modal" data-target="#referralModal">Referral Link</a>
                        <br>
                        <br>
                    {{/if_eq}}

                    {{#if_eq user.type 1}}
                        <a href="/privacy-policy" target="_blank">Privacy Policy</a>
                    {{/if_eq}}
                    
                </div>
            </div>
        </div>
		<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109818460-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109818460-1');
</script>
    </footer>
