<footer class="main-footer">
    <div class="row">
        <div class="col-md-7">
            <p>
                <strong>Copyright &copy; 2011-2018
                    <a target="_blank" href="#">CoinJolt.com</a>.</strong> All rights reserved.
                </p>
                <p>Email:
                    <a href="mailto:support@coinjolt.com">support@coinjolt.com</a>
                </p>
            </div>
            <div class="col-md-5">
                <div class="pull-right">
                    {{#if_eq user.type 2 }}
                        <a href="/submit-a-request">Submit a Request</a>
                        <a href="#" target="_blank">Privacy Policy</a>
                        {{!-- <input type="text" name="Element To Be Copied" id="copy-me" value="https://coinjolt.com?user={{reffer_link_id}}" style="display: none;"/> --}} 
                        <input type="text" name="Element To Be Copied" id="copy-me" value="http://localhost:8080/user/{{reffer_link_id}}" style="display: none;"/>
                        <a href="#" id="clipboardBtn" data-toggle="modal" data-target="#referralModal">Referral Link</a>
                        <br>
                        <br>
                    {{/if_eq}}

                    {{#if_eq user.type 1}}
                        <a href="#" target="_blank">Privacy Policy</a>
                    {{/if_eq}}
                    
                </div>
            </div>
        </div>
    </footer>
