<aside class="main-sidebar">
    <section class="sidebar">

        <ul class="sidebar-menu {{#if_eq user.type 1}} admin_menu{{/if_eq}}" data-widget="tree">
            {{#if_eq user.type 2}}
                <li>
                    <a  href="/account/buy-and-sell-coins">
                        <i class="fa fa-bitcoin"></i>
                        <span>Buy and Sell Coins</span>
                    </a>
                </li>
                <li>
                    <a href="/account/managed-cryptocurrency-portfolio">
                        <i class="fa fa-pie-chart"></i>
                        <span> Managed Cryptocurrency
                            <br>
                            <span style="margin-left: 19%;">Portfolio</span>
                        </span>
                    </a>
                </li>

                <li>
                    <a href="/account/transaction-history">
                        <i class="fa fa-book"></i>
                        <span>Transaction History</span>
                    </a>
                </li>

                <li>
                    <a href="/account/profile-details">
                        <i class="fa fa-user"></i>
                        <span>Profile Details</span>
                    </a>
                </li>

                <li>
                    <a href="/account/account-settings">
                        <i class="fa fa-cog"></i>
                        <span>Account Settings</span>
                    </a>
                </li>

                 <li>
                    <a href="/account/wallets">
                        <i class="fa fa-book"></i>
                        <span>Wallets</span>
                    </a>
                </li>

                <li>
                    <a href="/account/deposit-funds">
                        <i class="fa fa-money"></i>
                        <span>Deposit Funds</span>
                    </a>
                </li>

                <li>
                    <a href="/account/request-withdrawal">
                        <img alt="" src="../dist/img/withdraw.png">
                        <span> Request Withdrawal</span>
                    </a>
                </li>

                <li>
                    <a href="/account/invite-friends">
                        <img alt="" src="../dist/img/referrals.png">
                        <span> Referral Program</span>
                    </a>
                </li>

                <li>
                    <a href="/account/logout">
                        <i class="fa fa-sign-out"></i>
                        <span>Logout</span>
                    </a>
                </li>
            {{/if_eq}}

            {{!-- for admin section --}}
            {{#if_eq user.type 1 }}
                <li>
                    <a href="/admin/user-activity">
                        <i class="fa fa-line-chart"></i>
                        <span> User Activity</span>
                    </a>
                </li>

                <li>
                    <a href="/admin/managed-cryptocurrency-portfolio">
                        <i class="fa fa-briefcase"></i>
                        <span> Managed Cryptocurrency <br><span style="margin-left: 19%;">Portfolio</span></span>
                    </a>
                </li>

                <li>
                    <a href="/admin/most-recent-transactions">
                        <i class="fa fa-handshake-o"></i>
                        <span> Most Recent Transactions</span>
                    </a>
                </li>

                <li>
                    <a href="/admin/bank-wire-transfers">
                        <img alt="" src="/dist/img/manage-wire-transfers.png">
                        <span> Bank Wire Transfers</span>
                    </a>
                </li>

                <li>
                    <a href="/admin/manage-withdrawals">
                        <img alt="" src="/dist/img/withdraw.png">
                        <span>Manage Withdrawals</span>
                    </a>
                </li>

                 <li>
                    <a href="/admin/deposit-options">
                        <img alt="" src="/dist/img/manage-deposit-methods.png">
                        <span> Deposit Options</span>
                    </a>
                </li>

                <li>
                    <a href="/admin/kyc-documentation">
                        <!-- <img alt="" src="../dist/img/id.png"> -->
                        <i class="fa fa-address-card"></i>
                        <span>KYC Documentation</span>
                    </a>
                </li>

                <li>
                    <a href="/admin/questionnaire">
                        <i class="fa fa-clipboard"></i>
                        <span>Questionnaire</span>
                    </a>
                </li>

                <li>
                    <a href="/admin/support">
                        <!-- <img alt="" src="../dist/img/support.png"> -->
                        <i class="fa fa-headphones"></i>
                        <span>Support</span>
                    </a>
                </li>

                <li>
                    <a href="/admin/email-template">
                        <!-- <img alt="" src="../dist/img/support.png"> -->
                        <i class="fa fa-envelope"></i>
                        <span>Email Template</span>
                    </a>
                </li>

                <li>
                    <a href="/admin/all-users">
                        <!-- <img alt="" src="../dist/img/support.png"> -->
                        <i class="fa fa-user"></i>
                        <span>All Users</span>
                    </a>
                </li>

                <li>
                    <a href="/admin/email-users">
                        <!-- <img alt="" src="../dist/img/support.png"> -->
                        <img alt="" src="/dist/img/email-marketing.png">
                        <span>Email Users</span>
                    </a>
                </li>

                 <li>
                    <a href="/admin/company-details">
                        <!-- <img alt="" src="../dist/img/support.png"> -->
                        <i class="fa fa-cog"></i>
                        <span>Company Details</span>
                    </a>
                </li>

                <li>
                    <a href="/admin/blog">
                        <img alt="" src="/dist/img/manage-blog.png">
                        <span>Blog</span>
                    </a>
                </li>

                 <li>
                    <a href="/admin/blog-categories">
                        <img alt="" src="/dist/img/manage-blog-categories.png">
                        <span>Blog Categories</span>
                    </a>
                </li>

                <li class="treeview">
                  <a href="#">
                    <i class="fa fa-folder"></i> <span>Configuration</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-right pull-right"></i>
                    </span>
                  </a>
                  <ul class="treeview-menu">
                    <li><a href="/admin/configuration/home-page"><i class="fa fa-circle-o"></i> Home Page</a></li>
                    <li><a href="/admin/configuration/quick-links/about-us"><i class="fa fa-circle-o"></i> About Us</a></li>
                    <li><a href="/admin/configuration/quick-links/terms-of-service"><i class="fa fa-circle-o"></i> Terms Of Service</a></li>
                    <li><a href="/admin/configuration/quick-links/risk-disclosures"><i class="fa fa-circle-o"></i> Risk Disclosures</a></li>
                    <li><a href="/admin/configuration/quick-links/privacy-policy"><i class="fa fa-circle-o"></i> Privacy Policy</a></li>
                   
                  </ul>
                </li>
            {{/if_eq}}
        </ul>
    </section>
</aside>
