<!-- Starts  Bootstrap-touch-slider Slider -->

    <div class="all-iner-banner" style="background-image: url(dist/frontend_cms/images/about-banner.jpg);">
      <div class="image-overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <span class="page-title">Terms of Service</span>
          </div>          
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="breadcumb">
              <ul>
                <li><a href="index.html">Home</a></li>
                <li>Terms of Service</li>
              </ul>
            </div>    
          </div>    
        </div>    
      </div>
    </div>

    <!-- End  Bootstrap-touch-slider Slider -->

    <!-- Starts Webticker Section -->

    <!-- Ends Webticker Section -->

    <!-- Starts Welcome Section -->

    <div class="about-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
                {{{termsOfServiceContent}}}
            
          </div>
        </div>
      </div>
    </div>