<!-- Starts  Bootstrap-touch-slider Slider -->

    <div class="all-iner-banner" style="background-image: url(dist/frontend_cms/images/about-banner.jpg);">
      <div class="image-overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <span class="page-title">Terms of Service</span>
          </div>          
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="breadcumb">
              <ul>
                <li><a href="index.html">Home</a></li>
                <li>Terms of Service</li>
              </ul>
            </div>    
          </div>    
        </div>    
      </div>
    </div>

    <!-- End  Bootstrap-touch-slider Slider -->

    <!-- Starts Webticker Section -->

    <!-- Ends Webticker Section -->

    <!-- Starts Welcome Section -->

    <div class="about-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h4 class="terms">COINJOLT WEBSITE TERMS AND CONDITIONS OF USE</h4>
            <p>These Website Terms and Conditions of Use (“Terms”) are effective as of November 11, 2017.</p>

            <p>COINJOLT.COM (“CoinJolt,” “we” or “us”) reserves the right to change, modify, add or remove portions of the Terms at any time for any reason and in our sole discretion. We suggest that you (“you,” “your” or “User”) periodically review the Terms for amendments.</p>

            <p>You acknowledge that by accessing or using this website (or other webpages with links to or that utilize the Terms) (collectively, “Website”) you are agreeing to the Terms as modified from time to time. We will alert you if changes have been made by indicating on the Terms the date they were last amended.</p>

            <p>Please feel free to contact us with any questions you might have regarding these Terms. You may send us an e-mail at support(at)coinjolt.com.</p>
            <h4 class="terms">WEBSITE TERMS AND CONDITIONS OF USE</h4>
            <p>PLEASE READ THESE TERMS CAREFULLY BEFORE VISITING THE WEBSITE OR USING THE ONLINE SERVICES AND PRODUCTS PROVIDED THEREON. BY ACCESSING OR UTILIZING THE WEBSITE, YOU ACKNOWLEDGE THAT YOU HAVE READ THESE TERMS AND THAT YOU AGREE TO BE BOUND BY THEM. YOUR COMPLIANCE WITH AND ACCEPTANCE OF THESE TERMS IS A CONDITION TO YOUR RIGHT TO ACCESS AND UTILIZE THE WEBSITE. IF YOU DO NOT AGREE TO ALL OF THE TERMS, YOU ARE NOT AN AUTHORIZED USER OF THESE SERVICES AND PRODUCTS AND YOU SHOULD NOT USE THIS WEBSITE. IF YOU DO NOT AGREE TO THESE TERMS, YOU AGREE THAT YOUR SOLE AND EXCLUSIVE REMEDY IS TO DISCONTINUE USING THE WEBSITE.</p>

            <p>UNAUTHORIZED USE OF THIS WEBSITE, INCLUDING BUT NOT LIMITED TO MISUSE OF PASSWORDS OR POSTED INFORMATION, IS STRICTLY PROHIBITED. AUTHORIZED USERS OF THIS WEBSITE INCLUDE ANY USERS VISITING THIS WEBSITE FOR PERSONAL AND/OR INFORMATIONAL PURPOSES, CLIENTS AND POTENTIAL CLIENTS OF COINJOLT,COINJOLT EMPLOYEES, CANDIDATES FOR EMPLOYMENT OR USERS SEEKING INFORMATION ABOUT EMPLOYMENT OPPORTUNITIES AT COINJOLT, AND ANY OTHER USERS AUTHORIZED BY COINJOLT.</p>

            <p>USE OF THIS WEBSITE BY RECRUITERS, “HEAD HUNTERS,” EMPLOYMENT CONSULTANTS OR AGENCIES, PERSONNEL PLACEMENT AGENCIES, PROFESSIONAL SERVICES COMPANIES, EMPLOYMENT CONTRACTORS AND STAFFING AGENCIES SEEKING CURRENT COINJOLT EMPLOYEES AS CANDIDATES FOR PLACEMENT IS STRICTLY PROHIBITED.</p>
            <h4>No Offer/Local Restrictions</h4>
            <p>Nothing contained in or on the Website should be construed as a solicitation of an offer to buy or offer, or recommendation, to acquire or dispose of any security, commodity, or investment or to engage in any other transaction. CoinJolt offers a number of products and services designed specifically for various categories of investors in various countries and regions. Not all products will be available to all investors. These products or services are only offered to such investors, in those countries and regions, in accordance with applicable laws and regulations. The information provided on the Website is not intended for distribution to, or use by, any person or entity in any jurisdiction or country where such distribution or use would be contrary to law or regulation. All persons and entities accessing the Website do so of their own initiative and are responsible for compliance with applicable local laws and regulations. The Website is not directed to any person in any jurisdiction where the publication or availability of the Website is prohibited by reason of that person’s nationality, residence or otherwise. Any User subject to these restrictions must not access the Website.</p>
            <h4>Copyrights</h4>
            <p>All content displayed or otherwise contained on or available via this Website, including without limitation all images, text, articles, research reports, white papers, CoinJolt Daily Observations, programs, photographs, illustrations, and graphics, constitutes the proprietary intellectual property of CoinJolt or its licensors, and are protected by U.S. and international copyright laws. By accessing or utilizing this Website, the User agrees not to directly or indirectly copy, modify, recast, create derivative works, post, publish, display, redistribute, disclose, or make available the content displayed or otherwise contained on or available via this Website, in whole or in part, to any third parties, or assist others to do the same, or otherwise make any commercial use of the materials without the prior written consent of CoinJolt. The User also agrees not to publish or maintain a hyperlink to any portion or page of this Website other than to the homepage unless such hyperlink is for personal use AND is created and transmitted using the “email this page” function of the Website.</p>
            <h4 class="terms">Trademarks and Service Marks</h4>
            <p>All trademarks, service marks, trade names, and logos displayed on this Website, including without limitation, CoinJolt® (collectively referred to as the “Marks”), are proprietary to CoinJolt or their respective owners, and are protected by U.S. and international trademark laws. Any use of the Marks, or any other Marks owned by or licensed to CoinJolt without CoinJolt’s express written consent, is strictly prohibited.</p>
            <h4 class="terms">No Warranty, Limitation of Liability</h4>
            <p>THE INFORMATION ON THE WEBSITE IS PROVIDED “AS IS”. COINJOLT DOES NOT WARRANT THE ACCURACY OF THE MATERIALS PROVIDED HEREIN, EITHER EXPRESSLY OR IMPLIED, FOR ANY PARTICULAR PURPOSE AND EXPRESSLY DISCLAIMS ANY WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.</p>
            <p>YOU ACKNOWLEDGE THAT COINJOLT SHALL HAVE NO LIABILITY, CONTINGENT OR OTHERWISE, TO YOU OR TO ANY THIRD PARTIES, OR ANY RESPONSIBILITY WHATSOEVER, FOR THE FAILURE OF ANY CONNECTION OR COMMUNICATION SERVICE, TO PROVIDE OR MAINTAIN YOUR ACCESS TO ONLINE SERVICES OR PRODUCTS, OR FOR ANY INTERRUPTION OR DISRUPTION OF SUCH ACCESS OR ANY ERRONEOUS COMMUNICATION BETWEEN COINJOLT AND YOU. COINJOLT SHALL HAVE NO LIABILITY, CONTINGENT OR OTHERWISE, TO YOU OR TO THIRD PARTIES, FOR THE ACCURACY, QUALITY, TIMELINESS, PERFORMANCE, RELIABILITY, OR COMPLETENESS OF THE INFORMATION OR SERVICES CONTAINED ON THE WEBSITE, OR DELAYS, OMISSIONS, OR INTERRUPTIONS IN THE DELIVERY OF THE DATA OR SERVICES OR PRODUCTS AVAILABLE ON THIS WEBSITE OR FOR ANY OTHER ASPECT OF THE PERFORMANCE OF THESE SERVICES AND PRODUCTS. IN NO EVENT WILL COINJOLT BE LIABLE FOR ANY SPECIAL, INDIRECT, INCIDENTAL OR CONSEQUENTIAL DAMAGES THAT MAY BE INCURRED OR EXPERIENCED ON ACCOUNT OF THE USE OF ANY DATA OR SERVICES OR PRODUCTS MADE AVAILABLE ON THIS WEBSITE, EVEN IF COINJOLT HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. COINJOLT SHALL HAVE NO RESPONSIBILITY TO INFORM OR NOTIFY YOU OF ANY DIFFICULTIES EXPERIENCED BY COINJOLT OR ANY THIRD PARTIES WITH RESPECT TO THE USE OF THE SERVICES, PRODUCTS OR DATA PROVIDED ON OR BY THE WEBSITE.</p>
            <p>YOU FURTHER ACKNOWLEDGE THAT NOTHING CONTAINED ON THIS WEBSITE (INCLUDING, BUT NOT LIMITED TO, STRATEGIES AND RESEARCH, DAILY WIRES, DAILY OBSERVATIONS AND EDUCATIONAL ARTICLES) CONSTITUTES INVESTMENT, LEGAL, TAX OR OTHER ADVICE, NOR IS IT TO BE RELIED UPON IN MAKING ANY INVESTMENT OR OTHER DECISIONS. YOU SHOULD SEEK PROFESSIONAL ADVICE PRIOR TO MAKING ANY INVESTMENT DECISIONS.</p>
            <p>WE MAY REVOKE YOUR ACCESS TO OR UTILIZATION OF THE WEBSITE FOR ANY REASON WITHOUT PRIOR NOTICE.</p>
            <h4>Severability</h4>
            <p>If any of the provisions of these Terms are deemed unlawful or for any reason unenforceable, the same shall be inoperative only to the extent necessary to achieve compliance with applicable law and shall not affect the remaining Terms, which shall be given full effect, without regard to the invalid portion(s).</p>
            <h4 class="terms">Governing Law/Individual Arbitration of Claims</h4>
            <p>The laws of the United States of America, State of California shall govern these Terms, without giving effect to any choice of law or conflict of law rules or provisions that would cause the application of any other jurisdiction’s laws. YOU AND COINJOLT AGREE THAT ALL CLAIMS OR DISPUTES CONCERNING THE WEBSITE SHALL PROCEED SOLELY ON AN INDIVIDUAL, NOT CLASS ACTION OR REPRESENTATIVE, BASIS IN BINDING ARBITRATION BEFORE AND SUBJECT TO THE RULES OF THE AMERICAN ARBITRATION ASSOCIATION. ANY PARTY MAY APPLY TO A COURT OF COMPETENT JURISDICTION FOR TEMPORARY CONJUNCTIVE OR OTHER EQUITABLE RELIEF IN AID OF ARBITRATION.</p>
            <h4>Privacy Policy</h4>
            <p>Please review our <a href="">Privacy Policy</a> for information on how we collect, use, disclose and otherwise manage personal information we collect on the Website, and the measures we take to safeguard the information.</p>
            <h4>Unauthorized Use</h4>
            <p>You may not use any hardware or software intended to damage or interfere with the proper working of the Website or to surreptitiously intercept any system, data or personal information from the Website, including but not limited to (i) use of any robot, spider or other automatic device, process or means to access the Website for any purpose, including monitoring or copying any of the material on the Website; (ii) any attempt to gain unauthorized access to, interfere with, damage or disrupt any parts of the Website, the server on which the Website is hosted, or any server, computer or database connected to the Website; (iii) attack the Website via a denial-of-service attack or a distributed denial-of-service attack; (iv) use any manual process to monitor or copy any of the material on the Website or for any other unauthorized purpose without our prior written consent; or (v) cause the Website or portions of it to be displayed, or appear to be displayed by, for example, framing, deep linking or in-line linking, on any other site. You agree not to interrupt or attempt to interrupt the operation of the Website in any way. CoinJolt reserves the right, in its sole discretion, to limit or terminate your access to or use of the Website at any time without notice. Termination of your access or use will not waive or affect any other right or relief to which CoinJolt may be entitled at law or in equity.</p>
            <h4>Third Party References</h4>
            <p>References and links on the Website to any names, trademarks, products, services or content of third parties are provided solely as a convenience to you and do not in any way imply CoinJolt’s endorsement of sponsorship of or affiliation with such third party or their services, goods or content.</p>
            <p>Throughout this agreement the terms “us”, “our”, and “we” refer to CoinJolt.com and it’s operator(s) and owner(s). The terms “you”, “your”, and “user” refer to the person or entity accessing CoinJolt.com or using its services. The terms “coin” and “coins” are synonyms for cryptocurrencies.</p>
            <p>Accessing this website or any services provided by it in any way indicates your agreement to the complete terms and conditions of this agreement. Any section or item found to be unenforceable by a court of law does not invalidate any other section or item.</p>
            <h4 class="terms">Refund Policy – Completed Transactions</h4>
            <p>It is the nature of Bitcoin, Litecoin, and the other cryptocurrencies on our website that all transactions are final with no method of chargeback or recourse for the sender of the funds.</p>
            <p>As such we are unable to reverse or provide refunds for any payment made through our payment system. This also applies if you contact us before the payment is completed but it reaches completion before we are able to respond.</p>
            <p>We do provide a feedback system so buyers can leave ratings for sellers (and vice versa).</p>
            <h4 class="terms">Refund Policy – Incomplete Transactions</h4>
            <p>If your coins were not received and/or confirmed in time, we will gladly refund them to you. Simply email <a href="mailto:support@coinjolt.com">support@coinjolt.com</a> with your CoinJolt transaction ID, receipt of purchase, and refund address. The ticket must be opened with the email address used in the transaction.</p>
            <p>We will in most cases email you to ask if you would like a refund, but this is not guaranteed. Refunds will be either (at our discretion): a) the original amount of coins received, or b) an amount equivalent to the USD value at the time of the transaction. All refunds must be claimed within 30 days of us receiving your coins or they will be forfeited. Refunds are sent minus the unsubsidized coin/miner TX fee to send them to you.</p>
            <h4>Refund Policy – Tiny Amounts</h4>
            <p>For a refund to be honored it must be at least the network transaction fee (TX fee) for that coin times two, otherwise it will be forfeited.</p>
            <h4 class="terms1">Funds Recovery – Sends to wrong coin/chain, missing tags, delisted coins, etc.</h4>
            <p>If coins are sent to the wrong coin or blockchain or to a delisted coin and need to be recovered by us manually there will be an 8% recovery fee; if the coins can be recovered at all. This would apply if for example you sent Ether to an Ether Classic address or Digitalcoin to a Dogecoin address, etc. This would also apply to coins that require a destination tag, payment ID, memo, etc. and they were not set or were set to an incorrect value. We will not recover tokens we do not support for example from Ether-based ICOs that aren’t on our Supported Coins list. You must contact us within 90 days for us to recover your funds for you or they will be forfeited.</p>
            <h4>Restricted Items/Services</h4>
            <p>The following items and/or services may not be bought or sold with our service(s):</p>
            <ul>
              <li>Illegal drugs and substances.</li>
              <li>Pornography featuring underage or unconsenting performers.</li>
              <li>Software or websites with malware, viruses, trojans, spoofing, etc.</li>
              <li>High-yield investment programs (HYIP)</li>
              <li>Content which may be:
                <ul>
                  <li>Libelous or maliciously false;</li>
                  <li>Infringe any copyright, moral right, database right, trademark right, design right, right in passing off, or other intellectual property rights;</li>
                  <li>Be in contempt of any court, or in breach of any court order;</li>
                  <li>Be in breach of racial or religious hatred or discrimination legislation;</li>
                  <li>Be untrue, false, inaccurate or misleading;</li>
                  <li>Constitute spam;</li>
                  <li>Be offensive, deceptive, fraudulent, threatening, abusive, harassing, anti-social, menacing, hateful, discriminatory or inflammatory</li>
                </ul>
              </li>
            </ul>
            <h4>Affiliates/Referrals</h4>
            <p>We offer an affiliate system providing referring users a percentage of the transaction fees earned by the merchants they referred for a period of 5 years. For full information see <a href="">this help entry.</a></p>
            <h4>Security</h4>
            <p>We take many security measures, including but not limited to:</p>
            <ul>
              <li>Implemented TREZOR login.</li>
              <li>Two-factor authentication (2FA) via Email or Google Authenticator.</li>
              <li>System emails from CoinJolt are PGP signed</li>
              <li>All passwords are stored as a uniquely salted script hash, which is then AES encrypted.</li>
              <li>All sensitive and checkout information such as first and last name, shipping addresses, item names, cryptocurrency payout addresses, etc., are stored under AES encryption.</li>
              <li>TLS encryption between you and our servers to protect against eavesdroppers.</li>
              <li>Account lockouts to prevent brute force password guessing.</li>
              <li>Protection against cross-site scripting (XSS) and SQL Injection attacks.</li>
              <li>Immediate payouts means there are minimal coins on the payment server at any one time, reducing hacking incentive.</li>
              <li>Hot wallet is secured by BitGo&trade;</li>
            </ul>
            <h4>ICO Services</h4>
            <p>Any merchants looking to use our system for Initial Coin Offerings (aka ICOs), ICO pre-sales, etc. must do so through our Escrow Service Provider Contract. The Terms and Conditions Agreement of our Escrow Services are thorough and non-negotiable. This is to protect our company as a third party service provider and relinquish any and all liabilities that may occur once the funds are released. If any merchants or users are providing escrow services for an ICO without first contacting our Escrow department at <a href="mailto:payments@coinjolt.com">payments@coinjolt.com</a> they will be subject to the relative charges reflected in our terms and service agreement as outlined in our escrow service provider contract.</p>
            <h4 class="terms">Interoperability with 3rd Party Services</h4>
            <p>We may also offer “payment passthru”, “IPN translation”, and other features or services via 3rd parties such as PayPal(tm), Changelly, ShapeShift, etc. Any dispute resolution, refunds, or issues regarding those services or payments made through them would have to be taken up directly with those services.</p>
            <h4>Liability</h4>
            <p>We make our best effort to ensure the reliability and safety of our services however we can not be held liable in any way for funds lost or fluctuations in market exchange rates. Examples where funds could be lost (but not limited to these examples) are technical issues, 3rd party interference such as hacking or DDoS, untrustworthy and/or fraudulent merchants, or issues with the cryptocurrencies themselves such as software errors or 51% attacks.</p>
            <h4>Changes &amp; Updates</h4>
            <p>We reserve the right to update, change or replace any part of these Terms & Conditions by posting updates and/or changes to our website.</p>
            <p>It is your responsibility to check this page periodically for changes. Your continued use of or access to the website following the posting of any changes constitutes acceptance of those changes.</p>
            <h4>Additional Terms</h4>
            <p>Certain webpages and portals on this Website may contain terms and conditions in addition to these Terms. In the event of a conflict, the additional terms and conditions will govern such webpages.</p>
          </div>
        </div>
      </div>
    </div>