<!-- Starts  Bootstrap-touch-slider Slider -->

    <div class="all-iner-banner" style="background-image: url(images/about-banner.jpg);">
      <div class="image-overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <span class="page-title">Privacy Policy</span>
          </div>          
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="breadcumb">
              <ul>
                <li><a href="index.html">Home</a></li>
                <li>Privacy Policy</li>
              </ul>
            </div>    
          </div>    
        </div>    
      </div>
    </div>

    <!-- End  Bootstrap-touch-slider Slider -->

    <!-- Starts Webticker Section -->

    <!-- Ends Webticker Section -->

    <!-- Starts Welcome Section -->

    <div class="about-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h4>COINJOLT WEBSITE PRIVACY POLICY</h4>
            <p>This Website Privacy Policy (“Privacy Policy”) is effective as of November 11, 2017. Last ammended by Ken Russell, Chief Executive Officer.</p>

            <p>CoinJolt.com (“CoinJolt,” “we” or “us”) respects your (“you,” “your” or “User”) concerns about privacy. This Privacy Policy describes the types of personal information we collect on CoinJolt.com, CoinJolt.com and other CoinJolt-owned websites (collectively, “Website”), how we may use the information and the purposes for which we may use it, with whom we may share it and the choices available to you. We also describe the measures we take to safeguard the information and tell you how to contact us about our privacy practices. This Privacy Policy covers only information collected through this Website. By visiting or submitting information to this Website, you are accepting and consenting to the provisions set forth in this Privacy Policy. If you do not agree to this Privacy Policy, please do not use this Website.</p>

            <h4>Information We Obtain</h4>
            <p>CoinJolt may obtain personal information through this Website, including:</p>

            <ul>
              <li>Contact information, such as your name, postal address, e-mail address, and telephone number;</li>
              <li>Username and password to access CoinJolt products and services online;</li>
              <li>Information that you provide in the course of applying for a job with us, such as information about your education, work and military history, legal work eligibility status, and other information about you; and</li>
              <li>Other personal information you voluntarily provide to us, such as your preferences or data provided through online forms.</li>
            </ul>

            <p>During your use of this Website, CoinJolt will also, itself or through a third party vendor, automatically collect technical and usage data pertaining to your device and/or Internet connection. Such data includes the number and frequency of your visits to this Website, information regarding websites accessed immediately before and after your visit to this Website, your Internet browser type, your preferences on this Website, your IP address and your device characteristics. We use this data to (1) remember your information so you will not have to re-enter it; (2) track and understand how you use and interact with the Website; (3) personalize your visit to the Website; (4) measure the usability of the Website and the effectiveness of our communications; and (5) otherwise manage and enhance the Website. This technical and usage data is obtained using “cookies” or other similar technologies. Cookies are small text files that websites send to your computer or other Internet-connected device to identify your browser and to store information or settings in the browser. Your browser may tell you how to be notified when you receive certain types of cookies or how to restrict or disable certain types of cookies. Please note, however, that without cookies you may not be able to use all of the features of our Website. For mobile devices, you can manage how your device and browser share certain device data by adjusting the privacy and security settings on your mobile device or browsers.</p>
            <p>We use third-party web analytics services on this Website, such as those of Google Analytics. The analytics providers that administer these services use technologies such as cookies, web server logs and web beacons to help us analyze how visitors use this Website. The information collected through these means (including IP addresses) is disclosed to these analytics providers, who use data to evaluate use of this Website. To learn more about Google Analytics and Wistia and how to opt out, please visit: <a href="https://support.google.com/analytics/answer/6004245" target="_blank">www.google.com/analytics/learn/privacy.html.</a></p>
            <p>We may combine information we collect from you with information we receive from third parties and use it for the purposes described in this Privacy Policy. We also may use information we obtain about you in other ways for which we provide specific notice at the time of collection.</p>
            <h4>How We Use the Information We Obtain</h4>
            <p>We may use the information we obtain about you to:</p>
            <ul>
              <li>Communicate with you (and, where required by applicable law, we will obtain your explicit consent to do so);</li>
              <li>Manage career opportunities at CoinJolt;</li>
              <li>Personalize your experience on our Website;</li>
              <li>Perform analytics (including market research, trend analysis, financial analysis, and anonymization of personal information);</li>
              <li>Operate, evaluate, develop, manage and improve our business (including operating, administering, analyzing and improving our Website, products and services; developing new products and services; managing and evaluating the effectiveness of our communications</li>
              <li>Maintain and enhance the safety and security of our Website and prevent misuse;</li>
              <li>Protect against, identify and prevent fraud and other criminal activity, claims and other liabilities; and</li>
              <li>Comply with and enforce applicable legal requirements, relevant industry standards and policies.</li>
            </ul>
            <p>In compliance with relevant law, we may retain information as needed or appropriate to serve our legitimate business purposes or as required by law.</p>

            <p>This Website is not designed to respond to “do not track” signals received from browsers.</p>
            <h4>Disclosures of Information</h4>
            <p>CoinJolt will not sell, rent or disclose your personal information to anyone except as follows: We share your personal information with our affiliates for the purposes identified in this Privacy Policy. We also share your personal information with agents and service providers. We do not authorize these agents or service providers to use or disclose the personal information except as necessary to perform services on our behalf or comply with legal requirements.</p>
            <p>We also may disclose personal information about you (1) if we are required to do so by law or legal process (such as a court order or subpoena); (2) in response to requests by government agencies, such as law enforcement authorities; (3) to establish, exercise or defend our legal rights; (4) when we believe disclosure is necessary or appropriate to prevent physical or other harm or financial loss; (5) in connection with an investigation of suspected or actual illegal activity; or (6) otherwise with your consent.</p>
            <p>We reserve the right to share or transfer any personal information we have about you in connection with a prospective or actual sale, merger, transfer or other reorganization of all or parts of our business (including in the event of a divestiture, restructuring, reorganization, dissolution or liquidation).</p>
            <h4>Your Choices</h4>
            <p>To opt out of receiving direct marketing communications, such as commercial emails, or to unsubscribe from our services, please contact us at support(at)coinjolt.com.</p>
            <p>You may have the right to request access to and correction of personal information that pertains to you. To exercise this right, contact us at support(at)coinjolt.com. We reserve the right to verify your identity or take other actions that we believe are appropriate.</p>
            <h4>For Residents of the European Economic Area</h4>
            <p>CoinJolt will store your personal information on servers that are located in Isle of Man or other jurisdictions outside the European Economic Area, which may not have the same data protection laws as the country from which you initially provided the information. Your use of the Website is evidence of consent to transfer your personal information to countries outside of the European Economic Area.</p>
            <p>If you are a resident of the EEA, you may request access to the personal information we maintain about you. You also may withdraw any consent you previously provided to us or object at any time on compelling legitimate grounds to the processing of your personal information, and we will apply your preferences going forward. If personal information you have submitted through this Website is no longer accurate, current, or complete, you may request that we update, amend, delete or block it to the extent required by law. Upon appropriate request, and where reasonably feasible, we will provide you with access to your personal information and the ability to update, amend, delete or block your personal information. We reserve the right to use personal information previously obtained to verify your identity or take other actions that we believe are appropriate. To the extent permitted by applicable law, a charge may apply before we provide you with a copy of any of your personal information that we maintain.</p>
            <h4>Security</h4>
            <p>CoinJolt maintains administrative, technical and physical safeguards designed to protect personal information from loss, misuse, and unauthorized access, disclosure, alteration, and destruction.</p>
            <h4>Links To Other Websites</h4>
            <p>This Website may contain links to other websites for your convenience and information. These websites may be operated by companies not affiliated with CoinJolt. Linked websites may have their own privacy policies or notices, which we strongly suggest you review if you visit any linked websites. We are not responsible for the content of any websites that are not affiliated with CoinJolt, any use of those websites, or the privacy practices of those websites.</p>
            <h4>Updates To This Privacy Policy</h4>
            <p>This Privacy Policy may be updated periodically and without prior notice to you to reflect changes in our information practices and applicable law. We suggest that you periodically review the Privacy Policy for amendments.</p>
            <h4>How To Contact Us</h4>
            <p>If you have any questions about this Privacy Policy, please contact us at support(at)coinjolt.com.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Ends Welcome Section -->