<div id="bootstrap-touch-slider" class="carousel bs-slider fade  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="false" >

      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
        <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
        <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper For Slides -->
      <div class="carousel-inner" role="listbox">

        <!-- Third Slide -->
        <div class="item active">

          <!-- Slide Background -->
          <img src="/dist/frontend_cms/images/slider-1.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
          <div class="bs-slider-overlay"></div>

          <div class="container">
            <div class="row">
              <!-- Slide Text Layer -->
              <div class="slide-text slide_style_left">
                <h1 data-animation="animated zoomInRight">Digital Currency Made Simple</h1>
                <p data-animation="animated fadeInLeft">It’s As Easy As 1-2-3.</p>
                <a href="/signup" target="_blank" class="btn btn-primary" data-animation="animated fadeInRight">Sign Up</a>
              </div>
            </div>
          </div>
        </div>
        <!-- End of Slide -->

        <!-- Second Slide -->
        <div class="item">

          <!-- Slide Background -->
          <img src="/dist/frontend_cms/images/slider-2.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
          <div class="bs-slider-overlay"></div>
          <!-- Slide Text Layer -->
          <div class="slide-text slide_style_center">
            <h1 data-animation="animated zoomInRight">Digital Currency Made Simple</h1>
            <p data-animation="animated fadeInLeft">It’s As Easy As 1-2-3.</p>
            <a href="/signup" target="_blank" class="btn btn-primary" data-animation="animated fadeInRight">Sign Up</a>
          </div>
        </div>
        <!-- End of Slide -->

        <!-- Third Slide -->
        <div class="item">

          <!-- Slide Background -->
          <img src="/dist/frontend_cms/images/slider-3.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
          <div class="bs-slider-overlay"></div>
          <!-- Slide Text Layer -->
          <div class="slide-text slide_style_right">
            <h1 data-animation="animated zoomInRight">Digital Currency Made Simple</h1>
            <p data-animation="animated fadeInLeft">It’s As Easy As 1-2-3.</p>
            <a href="/signup" target="_blank" class="btn btn-primary" data-animation="animated fadeInRight">Sign Up</a>
          </div>
        </div>
        <!-- End of Slide -->


      </div><!-- End of Wrapper For Slides -->

      <!-- Left Control -->
      <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
        <span class="fa fa-angle-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <!-- Right Control -->
      <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
        <span class="fa fa-angle-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div> 
    <!-- End  Bootstrap-touch-slider Slider -->

    <!-- Starts Webticker Section -->

    {{!-- <div class="ticker">
      <ul id="webTicker">
        <li><img src="/dist/frontend_cms/images/c-1.png" alt="icon"> Bitcoin<span>(BTC)</span> <span class="btc"></span></li>
        <li><img src="/dist/frontend_cms/images/c-2.png" alt="icon"> Ethereum<span>(ETH)</span> <span class="eth"></span></li>
        <li><img src="/dist/frontend_cms/images/c-3.png" alt="icon"> Litecoin<span>(LTC)</span> <span class="ltc"></span></li>
        <li><img src="/dist/frontend_cms/images/c-4.png" alt="icon"> Ripple<span>(XRP)</span> <span class="xrp"></span></li>
        <li><img src="/dist/frontend_cms/images/c-5.png" alt="icon"> Bitcoin Cash<span>(BCH)</span> <span class="bch"></span></li>
      </ul>
    </div> --}}

    <!-- Ends Webticker Section -->

    <!-- Starts Welcome Section -->

    <div class="welcome-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="heading">
              <h4>It's As Easy As</h4>
              <h3>How It Works</h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <img src="/dist/frontend_cms/images/graph.png" alt="welcome-img">
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="wel-box">
              <ul class="features-list-s2">
                <li class="features-item-s2 d-flex">
                  <div class="features-icon-s2">
                    <img alt="icon" src="/dist/frontend_cms/images/icon-decentralized.png">
                  </div>
                  <div class="features-texts-s2">
                    <h5 class="features-title-s2">Register</h5>
                    <p>Create an individual or corporate investment account.</p>
                  </div>
                </li>
                <li class="features-item-s2 d-flex">
                  <div class="features-icon-s2">
                    <img alt="icon" src="/dist/frontend_cms/images/icon-crowd.png">
                  </div><div class="features-texts-s2">
                    <h5 class="features-title-s2">Deposit Funds:</h5>
                    <p>Choose from one of the available deposit methods including credit card, wire transfers and cryptocurrency.</p>
                  </div>
                </li>
                <li class="features-item-s2 d-flex" >
                  <div class="features-icon-s2">
                    <img alt="icon" src="/dist/frontend_cms/images/icon-reward.png">
                  </div>
                  <div class="features-texts-s2">
                    <h5 class="features-title-s2">Self-Directed or Managed Account:</h5>
                    <p>Get started with buying and selling cryptocurrencies instantly or speak with one of our digital asset managers to discuss managed investments.</p>
                  </div>
                </li>
              </ul>
              <!-- <a href="">View info more</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Ends Welcome Section -->

    <!-- Starts Pricing Section -->

    <div class="price-wrap">
      <div class="container-fluid">
        <!-- <div class="heading">
          <h3>Coin Jolt Wallets</h3>
        </div> -->
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="price-item hot">
            <div class="col-md-3">
              <img src="/dist/frontend_cms/images/hot-wallets.png" alt="hot-wallets">
            </div>
            <div class="col-md-9">
              <h3>Hot Wallet</h3>
              <ul>
                <li><i class="fa fa-check"></i>Instantly connect to dozens of cryptocurrency networks to send and receive funds with the most secure wallet in the industry.</li>
                <li><i class="fa fa-check"></i>Actively monitored assets with accurately calculated market values.</li>
                <li><i class="fa fa-check"></i>Transfer funds to a cold wallet for secure offline storage.</li>
                <li><i class="fa fa-check"></i>Multiple enabled security protocols and automatic lockdown signals to prevent unauthorized access.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="price-item cold">
            <div class="col-md-3">
              <img src="/dist/frontend_cms/images/cold-wallets.png" alt="cold-wallets">
            </div>
            <div class="col-md-9">
              <h3>Cold Wallet</h3>
              <ul>
                <li><i class="fa fa-check"></i>Secure and monitor assets offline to guarantee safety and prevent attempts to breach security.</li>
                <li><i class="fa fa-check"></i>Accumulate digital assets seamlessly through your back office.</li>
                <li><i class="fa fa-check"></i>Request to transfer cryptocurrencies to your Hot Wallet to readily engage in cryptocurrency.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Ends Pricing Section -->

    <!-- Starts Buy Section -->

    <div class="buy-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="heading">
              <h4>Buy and Sell Bitcoin</h4>
              <h3>The most trusted digital currency platform</h3>
              <p>Our easy and simple to navigate user interface allows getting started in digital currency to be a seamless process. A managed cryptocurrency portfolio with a projected minimum of 200% annual returns.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="buy-box">
              <img src="/dist/frontend_cms/images/buy-1.png" alt="buy&amp;sell">
              <p>Benefit From Falling And Rising Prices</p>
              <span>Get access to leading market data, latest news, tools and resources</span>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="buy-box">
              <img src="/dist/frontend_cms/images/buy-2.png" alt="buy&amp;sell">
              <p>Getting Started Within Seconds</p>
              <span>You’re only a few moments away from creating an account, available for both individuals or institutions.</span>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="buy-box bottom">
              <img src="/dist/frontend_cms/images/buy-3.png" alt="buy&amp;sell">
              <p>Security Intelligence</p>
              <span>Whether it’s $1,000 or $1,000,000, assets are safe and secure with SHA-256 and multi-signature encrypted wallets.</span>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="buy-box bottom">
              <img src="/dist/frontend_cms/images/buy-4.png" alt="buy&amp;sell">
              <p>Benefit From Falling And Rising Prices</p>
              <span>Get access to leading market data, latest news, tools and resources.</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Ends Buy Section -->

    <!-- Starts Money Mobile Section -->

    <div class="money-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-sm-7 col-xs-7">
            <div class="left-part">
              <h3>Coin Jolt Digital Money</h3>
              <h5>A WALLET THAT PROVIDES A WAY TO MANAGE YOUR FUNDS WHEN YOU WANT AND WHERE YOU WANT.</h5>
              <a href="">View info more</a>
            </div>
          </div>
          <div class="col-md-5 col-sm-5 col-xs-5">
            <img src="/dist/frontend_cms/images/hands-mobile.png" alt="mobile">
          </div>
        </div>
      </div>
    </div>

    <!-- Ends Money Mobile Section -->

    <!-- Starts Service Section -->

    <div class="service-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="heading">
              <h4>Industry Leading Services</h4>
              <h3>Why Choose Coin Jolt</h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="item">
              <div class="icon-box">
                <img src="/dist/frontend_cms/images/service-icon-1.png" alt="icon1">
              </div>
              <p>Payment Options</p>
              <span>Most popular methods: All major credit cards, wire transfer and cryptocurrency.</span>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="item">
              <div class="icon-box">
                <img src="/dist/frontend_cms/images/service-icon-2.png" alt="icon1">
              </div>
              <p>Security Intelligence</p>
              <span>Protection against DDoS attacks, full data encryption.</span>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="item">
              <div class="icon-box">
                <img src="/dist/frontend_cms/images/service-icon-3.png" alt="icon1">
              </div>
              <p>Global Coverage</p>
              <span>Providing services in 99% countries around the globe.</span>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="item bottom">
              <div class="icon-box">
                <img src="/dist/frontend_cms/images/service-icon-4.png" alt="icon1">
              </div>
              <p>Advanced Reporting</p>
              <span>Downloadable reports, real-time balance, transaction history.</span>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="item bottom">
              <div class="icon-box">
                <img src="/dist/frontend_cms/images/service-icon-5.png" alt="icon1">
              </div>
              <p>A New Type Of Returns</p>
              <span>Proprietary industry-leading technology can make a significant difference on your investment.</span>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="item bottom">
              <div class="icon-box">
                <img src="/dist/frontend_cms/images/service-icon-6.png" alt="icon1">
              </div>
              <p>Lightning Fast</p>
              <span>Connected to every major exchange, Coin Jolt allows users to purchase and sell cryptocurrencies instantly at guaranteed best prices.</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Ends Service Section -->

    <!-- Starts Video Section -->

    <div class="video-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="heading">
              <h4>Currently working on</h4>
              <h3>Video</h3>
            </div>
            <a href="" data-toggle="modal" data-target="#video">
              <div class="video">
                <img src="/dist/frontend_cms/images/video.png" alt="">
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Ends Video Section -->

    <!-- Starts Security Section -->

    <div class="security-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="heading">
              <h4>Coin Jolt Risk Disclosure</h4>
              <h3>Security &amp; Guarantee</h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="item">
              <div class="icon-box">
                <img src="/dist/frontend_cms/images/guarantee-icon-1.png" alt="guarantee">
              </div>
              <p>Fully Regulated</p>
              <span>Working with top government regulators and regulatory officials.</span>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="item">
              <div class="icon-box">
                <img src="/dist/frontend_cms/images/guarantee-icon-2.png" alt="guarantee">
              </div>
              <p>Global Coverage</p>
              <span>The majority of assets are monitored and routinely stored in safe distributed, inaccessible offline storage vaults.</span>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="item">
              <div class="icon-box">
                <img src="/dist/frontend_cms/images/guarantee-icon-3.png" alt="guarantee">
              </div>
              <p>Confidentiality</p>
              <span>We will never share your information. Full account data encryption.</span>
            </div>
          </div>
        </div>
      </div>
    </div>