<!-- Starts  Bootstrap-touch-slider Slider -->

    <!-- <div id="particles-js">
      <div class="slide-text animatedParent">
        <h1 class="animated growIn">It’s As Easy As 1-2-3</h1>
        <p class="animated bounceInRight">Coin Jolt is constantly tracking market prices to ensure you’re always buying and selling digital assets at guaranteed lowest and highest prices.</p>
      </div>
    </div> -->
    <!-- End  Bootstrap-touch-slider Slider -->

    <div class="banner">
      <img src="/dist/frontend_cms/images/banner.jpg" alt="Banner">
    </div>

    <!-- Starts Webticker Section -->

    {{!-- <div class="ticker">
      <ul id="webTicker">
        <li><img src="/dist/frontend_cms/images/c-1.png" alt="icon"> Bitcoin<span>(BTC)</span> <span class="btc"></span></li>
        <li><img src="/dist/frontend_cms/images/c-2.png" alt="icon"> Ethereum<span>(ETH)</span> <span class="eth"></span></li>
        <li><img src="/dist/frontend_cms/images/c-3.png" alt="icon"> Litecoin<span>(LTC)</span> <span class="ltc"></span></li>
        <li><img src="/dist/frontend_cms/images/c-4.png" alt="icon"> Ripple<span>(XRP)</span> <span class="xrp"></span></li>
        <li><img src="/dist/frontend_cms/images/c-5.png" alt="icon"> Bitcoin Cash<span>(BCH)</span> <span class="bch"></span></li>
      </ul>
    </div> --}}

    <!-- Ends Webticker Section -->

    <!-- Starts Welcome Section -->

    <div class="welcome-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="heading animatedParent">
              <h4 class="animated bounceInDown delay-250">It's As Simple As 1-2-3</h4>
              <h3 class="animated bounceInDown delay-500">How It Works</h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6 animatedParent">
            <img class="animated growIn slow go" src="/dist/frontend_cms/images/graph.png" alt="welcome-img">
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="wel-box animatedParent">
              <ul class="features-list-s2 animated fadeIn delay-500">
                <li class="features-item-s2 d-flex">
                  <div class="features-icon-s2">
                    <img alt="icon" src="/dist/frontend_cms/images/icon-decentralized.png">
                  </div>
                  <div class="features-texts-s2">
                    <h5 class="features-title-s2">Register Now</h5>
                    {{!-- <p>Create an individual or corporate investment account.</p> --}}
                    <p>Choose between a self directed account or managed investment account. Available to both individuals and institutions.</p>
                  </div>
                </li>
                <li class="features-item-s2 d-flex">
                  <div class="features-icon-s2">
                    <img alt="icon" src="/dist/frontend_cms/images/icon-crowd.png">
                  </div><div class="features-texts-s2">
                    <h5 class="features-title-s2">Deposit Funds</h5>
                    {{!-- <p>Choose from one of the available deposit methods including credit card, wire transfers and cryptocurrency.</p> --}}
                    <!-- <p>Choose from one of the available deposit methods for account funding.</p> -->
                    <p>Fund your account through one of the available deposit options.</p>
                  </div>
                </li>
                <li class="features-item-s2 d-flex" >
                  <div class="features-icon-s2">
                    <img alt="icon" src="/dist/frontend_cms/images/icon-reward.png">
                  </div>
                  <div class="features-texts-s2">
                    <h5 class="features-title-s2"><!-- Self-Directed or Managed Account: -->Do It Yourself or Invest In a Managed Cryptocurrency Portfolio</h5>
                    {{!-- <p>Get started with buying and selling cryptocurrencies instantly or speak with one of our digital asset managers to discuss managed investments.</p> --}}
                    <p>Buy and sell digital assets yourself or apply to be an investor with our managed cryptocurrency portfolio.</p>
                  </div>
                </li>
              </ul>
              <!-- <a href="">View info more</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Ends Welcome Section -->

    <!-- Starts Pricing Section -->

    <div class="price-wrap">
      <div class="container-fluid">
        <!-- <div class="heading">
          <h3>Coin Jolt Wallets</h3>
        </div> -->
        <div class="col-md-6 col-sm-6 col-xs-6 ">
          <div class="price-item hot">
            <div class="col-md-3">
              <img src="/dist/frontend_cms/images/hot-wallets.png" alt="hot-wallets">
            </div>
            <div class="col-md-9">
              <h3>Hot Wallet</h3>
              <ul>
                <li><i class="fa fa-check"></i>Instantly connect to dozens of cryptocurrency networks to send and receive funds with the most secure wallet in the industry.</li>
                <li><i class="fa fa-check"></i>Actively monitored assets with accurately calculated market values.</li>
                <li><i class="fa fa-check"></i>Transfer funds to a cold wallet for secure offline storage.</li>
                <li><i class="fa fa-check"></i>Multiple enabled security protocols and automatic lockdown signals to prevent unauthorized access.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="price-item cold">
            <div class="col-md-3">
              <img src="/dist/frontend_cms/images/cold-wallets.png" alt="cold-wallets">
            </div>
            <div class="col-md-9">
              <h3>Cold Wallet</h3>
              <ul>
                <li><i class="fa fa-check"></i>Secure and monitor assets offline to guarantee safety and prevent attempts to breach security.</li>
                <li><i class="fa fa-check"></i>Accumulate digital assets seamlessly through your back office.</li>
                <li><i class="fa fa-check"></i>Request to transfer cryptocurrencies to your Hot Wallet to readily engage in cryptocurrency.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Ends Pricing Section -->

    <!-- Starts Buy Section -->

    <div class="buy-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="heading animatedParent">
              <h4 class="animated growIn">Buy and Sell Bitcoin</h4>
              <h3 class="animated bounceInDown">The most trusted digital currency platform</h3>
              <p class="animated growIn">Our easy and simple to navigate user interface allows getting started in digital currency to be a seamless process. A managed cryptocurrency portfolio with a projected minimum of 200% annual returns.</p>
            </div>
          </div>
        </div>
        <div class="row animatedParent">
          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="buy-box animated fadeIn">
              <img src="/dist/frontend_cms/images/buy-1.png" alt="buy&amp;sell">
              <p>Benefit From Falling And Rising Prices</p>
              <span>Get access to leading market data, latest news, tools and resources</span>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="buy-box animated fadeIn">
              <img src="/dist/frontend_cms/images/buy-2.png" alt="buy&amp;sell">
              <p>Getting Started Within Seconds</p>
              <span>You’re only a few moments away from creating an account, available for both individuals or institutions.</span>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="buy-box animated fadeIn bottom">
              <img src="/dist/frontend_cms/images/buy-3.png" alt="buy&amp;sell">
              <p>Security Intelligence</p>
              <span>Whether it’s $1,000 or $1,000,000, assets are safe and secure with SHA-256 and multi-signature encrypted wallets.</span>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="buy-box animated fadeIn bottom">
              <img src="/dist/frontend_cms/images/buy-4.png" alt="buy&amp;sell">
              <p>Benefit From Falling And Rising Prices</p>
              <span>Get access to leading market data, latest news, tools and resources.</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Ends Buy Section -->

    <!-- Starts Money Mobile Section -->

    <div class="money-section animatedParent">
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-sm-7 col-xs-7">
            <div class="left-part">
              <h3 class="animated growIn">Coin Jolt Digital Money</h3>
              <h5 class="animated growIn">A WALLET THAT PROVIDES A WAY TO MANAGE YOUR FUNDS WHEN YOU WANT AND WHERE YOU WANT.</h5>
              <a class="animated growIn" href="">View info more</a>
            </div>
          </div>
          <div class="col-md-5 col-sm-5 col-xs-5">
            <img class="animated flipInY" src="/dist/frontend_cms/images/hands-mobile.png" alt="mobile">
          </div>
        </div>
      </div>
    </div>

    <!-- Ends Money Mobile Section -->

    <!-- Starts Service Section -->

    <div class="service-section animatedParent">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="heading">
              <h4 class="animated bounceInDown">Industry Leading Services</h4>
              <h3 class="animated bounceInUp">Why Choose Coin Jolt</h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="item animated fadeInDown delay-1075">
              <div class="icon-box">
                <img src="/dist/frontend_cms/images/service-icon-1.png" alt="icon1">
              </div>
              <p>Payment Options</p>
              <span>Most popular methods: All major credit cards, wire transfer and cryptocurrency.</span>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="item animated fadeInDown delay-1050">
              <div class="icon-box">
                <img src="/dist/frontend_cms/images/service-icon-2.png" alt="icon1">
              </div>
              <p>Security Intelligence</p>
              <span>Protection against DDoS attacks, full data encryption.</span>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="item animated fadeInDown delay-1025">
              <div class="icon-box">
                <img src="/dist/frontend_cms/images/service-icon-3.png" alt="icon1">
              </div>
              <p>Global Coverage</p>
              <span>Providing services in 99% countries around the globe.</span>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="item animated fadeInDown delay-1000">
              <div class="icon-box">
                <img src="/dist/frontend_cms/images/service-icon-4.png" alt="icon1">
              </div>
              <p>Advanced Reporting</p>
              <span>Downloadable reports, real-time balance, transaction history.</span>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="item animated fadeInDown delay-750 bottom">
              <div class="icon-box">
                <img src="/dist/frontend_cms/images/service-icon-5.png" alt="icon1">
              </div>
              <p>A New Type Of Returns</p>
              <span>Proprietary industry-leading technology can make a significant difference on your investment.</span>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="item animated fadeInDown delay-500 bottom">
              <div class="icon-box">
                <img src="/dist/frontend_cms/images/service-icon-6.png" alt="icon1">
              </div>
              <p>Lightning Fast</p>
              <span>Connected to every major exchange, Coin Jolt allows users to purchase and sell cryptocurrencies instantly at guaranteed best prices.</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Ends Service Section -->

    <!-- Starts Video Section -->

    <div class="video-section animatedParent">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="heading">
              <h4 class="animated growIn">Learn More</h4>
              <h3 class="animated bounceInRight">Play Video</h3>
            </div>
            <a class="animated rollIn" href="" data-toggle="modal" data-target="#video">
              <div class="video">
                <img src="/dist/frontend_cms/images/video.png" alt="">
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Ends Video Section -->

    <!-- Starts Security Section -->

    <div class="security-section animatedParent">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="heading">
              <h4 class="animated bounceInDown">Coin Jolt Risk Disclosure</h4>
              <h3 class="animated bounceInUp">Security &amp; Guarantee</h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="item animated fadeInLeftShort">
              <div class="icon-box">
                <img src="/dist/frontend_cms/images/guarantee-icon-1.png" alt="guarantee">
              </div>
              <p>Fully Regulated</p>
              <span>Working with top government regulators and regulatory officials.</span>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="item animated fadeInLeftShort">
              <div class="icon-box">
                <img src="/dist/frontend_cms/images/guarantee-icon-2.png" alt="guarantee">
              </div>
              <p>Global Coverage</p>
              <span>The majority of assets are monitored and routinely stored in safe distributed, inaccessible offline storage vaults.</span>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="item animated fadeInLeftShort">
              <div class="icon-box">
                <img src="/dist/frontend_cms/images/guarantee-icon-3.png" alt="guarantee">
              </div>
              <p>Confidentiality</p>
              <span>We will never share your information. Full account data encryption.</span>
            </div>
          </div>
        </div>
      </div>
    </div>