	<div class="all-iner-banner" style="background-image: url(dist/img/charts-banner.jpg); background-position: center top;">
		<div class="image-overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<span class="page-title">Charts</span>
				</div>          
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="breadcumb">
						<ul>
							<li><a href="/">Home</a></li>
							<li>Charts</li>
						</ul>
					</div>    
				</div>    
			</div>    
		</div>
	</div>

	<!-- End  Bootstrap-touch-slider Slider -->

	<!-- Starts Webticker Section -->

	<!-- Ends Webticker Section -->

	<!-- Starts Welcome Section -->

	<div class="about-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="charts-box">
						<!-- <img src="/dist/img/chart.jpg" alt="chart"> -->
						<h3>COMING SOON</h3>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="call-to-action">
						<div class="action-box">
							<img src="/dist/img/wallet-account.png" alt="wallet-account">
							<div class="action-text">
								<h3>Buy cryptocurrencies</h3>
								<p>Invest in cryptocurrencies slowly over time by scheduling buys weekly or monthly.</p>
								<a href="/signup" style="text-decoration:none !important; text-decoration:none;">Buy cryptocurrency instantly with zero fees.</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="call-to-action">
						<div class="action-box">
							<img src="/dist/img/profits.png" alt="profits">
							<div class="action-text">
								<h3>Start trading cryptocurrencies</h3>
								<p>Profit from trading on price differences across cryptocurrencies.</p>
								<a href="/signup" style="text-decoration:none !important; text-decoration:none;">Start trading across a variety of digital assets.</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Ends Welcome Section -->
