<section class="content container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="box equal-box">
                <div class="box-header with-border">
                    <h3 class="box-title">Wallets</h3>
                    
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>SYMBOL</th>
                                <th>NAME</th>
                                <th>BALANCE</th>
                                <th>USD</th>
                            </tr>
                        </thead>
                    </table>
                    <table class="table">
                        <tr>
                            <td>
                                <img src="http://dev.coinjolt.com/dashboard/img/usd.png" alt="">
                            </td>
                            <td>DOLLAR (USD)</td>
                            <td>
                                16,773,490.44
                            </td>
                            <td>
                                $16,773,490.44
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="http://dev.coinjolt.com/dashboard/img/usd.png" alt="">
                            </td>
                            <td>DOLLAR (USD)</td>
                            <td>
                                16,773,490.44
                            </td>
                            <td>
                                $16,773,490.44
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="http://dev.coinjolt.com/dashboard/img/usd.png" alt="">
                            </td>
                            <td>DOLLAR (USD)</td>
                            <td>
                                16,773,490.44
                            </td>
                            <td>
                                $16,773,490.44
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="http://dev.coinjolt.com/dashboard/img/usd.png" alt="">
                            </td>
                            <td>DOLLAR (USD)</td>
                            <td>
                                16,773,490.44
                            </td>
                            <td>
                                $16,773,490.44
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="http://dev.coinjolt.com/dashboard/img/usd.png" alt="">
                            </td>
                            <td>DOLLAR (USD)</td>
                            <td>
                                16,773,490.44
                            </td>
                            <td>
                                $16,773,490.44
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <div class="col-md-6">
            <div class="box equal-box">
                <div style="margin-bottom: 4px;" class="box-header">
                    <h3 class="box-title">Latest News</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body ltnews"></div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">All Cryptocurrencies</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-striped res-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Market Cap</th>
                                <th>Rate</th>
                                <th>Volume (24h)</th>
                                <th>Change (24h)</th>
                            </tr>
                        </thead>
                        <tbody id="currency_table">
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>