<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="title-with-btn pd-612">
       <div class="pull-left">
        <h1>Submit a Request</h1>
    </div>
    <div class="pull-left">
        <a class="btn btn-primary support-btn" href="/account/requests-support">View Tickets</a>
    </div>
    <div class="clearfix"></div>
</div>

<ol class="breadcrumb">
  <li>
    <a href="/account/dashboard">
      <i class="fa fa-dashboard"></i> Home</a>
  </li>
  <li class="active">Submit a Request</li>
</ol>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Starts Deposit Funds -->
    <div class="deposit-funds">
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Support Desk</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <form method="post" role="form" id="submit-a-request" name="submit-a-request">
                {{#if message}}
                <div class="alert alert-success">{{message}}</div>
                {{/if}}
                <div class="row">
                    <div class="col-md-12">
                        <p>Feel free to use this form to submit a ticket directly to support and we'll get back to you as soon as possible.</p>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Subject">Subject</label>
                            <input type="text" name="subject" class="form-control" id="subject" placeholder="Enter subject">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Description">Description</label>
                            <textarea name="description" style="height: 250px;" class="form-control" id="description" placeholder="Write a message here..."></textarea>
                        </div>
                    </div>
                    <div class="col-md-2 col-md-offset-5 pd-612">
                        <div class="form-group">
                            <input class="btn btn-primary" type="submit" id="support_saubmit_from_user" value="Submit Ticket" />
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</div>
</div>
</div>
<!-- Ends Deposit Funds -->
</section>
<!-- /.content -->
