<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="title-with-btn pd-612">
       <div class="pull-left">
        <h1>Email Template</h1>
    </div>
    <div class="clearfix"></div>
</div>

<ol class="breadcrumb">
  <li>
    <a href="/dashboard">
      <i class="fa fa-dashboard"></i> Home</a>
  </li>
  <li class="active">Email Template</li>
</ol>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Starts Deposit Funds -->
    <div class="deposit-funds">
      <div class="row">
        <div class="col-md-12">
          <!-- /.box-header -->
          <div class="box-body">
            <form method="post" action="javasript:void(0)" role="form" id="submit-a-email-template" name="submit-a-email-template">
                {{#if message}}
                <div class="alert alert-success">{{message}}</div>
                {{/if}}
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Subject">Template Name</label>
                            <input type="text" name="subject" class="form-control" id="subject" placeholder="Enter Subject">
                            <div id="emailTemplateErr"></div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label for="status">Select Email Template:</label>
                        <select class="form-control" id="sel_email_template" name="sel_email_template">
                            {{#each template_type}}
                                <option value="{{this.id}}">{{this.type}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Description">Description</label>
                            <textarea name="editor1" class="form-control" id="editor1" placeholder="Enter Description"></textarea>
                            <div id="templateDescErr"></div>
                        </div>
                    </div>
                    <div class="col-md-2 col-md-offset-5 pd-612">
                        <div class="form-group">
                            <input class="btn btn-primary" type="button" id="submit_email_template" value="Submit" onclick="createEmailTemplate()" />
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</div>
</div>
</div>
<!-- Ends Deposit Funds -->
</section>
<!-- /.content -->
