{{#if_eq details.0.about_us_header_image ''}}
  <div class="all-iner-banner" style="background-image: url(cms/about_us_image/default/about-us.jpg);">
{{/if_eq}}
{{#if_neq details.0.about_us_header_image ''}}
  <div class="all-iner-banner" style="background-image: url(cms/about_us_image/{{details.0.about_us_header_image}});">
{{/if_neq}}

      <div class="image-overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <span class="page-title">{{details.0.about_us_header_desc}}</span>
          </div>          
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="breadcumb">
              <ul>
                <li><a href="/">Home</a></li>
                <li>About Us</li>
              </ul>
            </div>    
          </div>    
        </div>    
      </div>
    </div>

    <!-- End  Bootstrap-touch-slider Slider -->

    <!-- Starts Webticker Section -->

    <!-- Ends Webticker Section -->

    <!-- Starts Welcome Section -->

    <div class="about-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            {{{details.0.about_us_description}}}
          </div>
        </div>
      </div>
    </div>