
 <!-- Starts Welcome Section -->

    <div class="about-section">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            {{{ blogContent.rows.0.post_description  }}}
          </div>


          <!-- featured and latest enws portion -->
          <div class="col-md-4">
            <div class="search">
              <form action="/action_page.php">
                <input type="text" placeholder="Type and hit enter …" name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
              </form>
            </div>
            <div class="rgt-box">
              <h4>Latest News</h4>
              <ul class="latest-works-widget">
                <li>
                  <div class="work-widget-thumb">
                    <a href="">
                      <img src="images/is-bitcoin-safe-40x40.png" alt="windscotting">
                    </a>
                  </div>      
                  <div class="work-widget-content">
                    <h6><a href="">Why Bitcoin Is Considered a Safe Investment</a></h6>
                    <p>June 1, 2018</p>                    
                  </div>
                </li>

                <li>
                  <div class="work-widget-thumb">
                    <a href="">
                      <img src="images/bitcoin-to-the-moon-40x40.jpg" alt="green">
                    </a>
                  </div>      
                  <div class="work-widget-content">
                    <h6><a href="">Should You Invest In Bitcoin?</a></h6>
                    <p>June 1, 2018</p>                    
                  </div>
                </li>
              </ul>
            </div>
            <div class="rgt-box">
              <h4>Featured Posts</h4>
              <ul class="latest-works-widget">
                <li>
                  <div class="work-widget-thumb">
                    <a href="">
                      <img src="images/is-bitcoin-safe-40x40.png" alt="windscotting">
                    </a>
                  </div>      
                  <div class="work-widget-content">
                    <h6><a href="">Why Bitcoin Is Considered a Safe Investment</a></h6>
                    <p>June 1, 2018</p>                    
                  </div>
                </li>

                <li>
                  <div class="work-widget-thumb">
                    <a href="">
                      <img src="images/bitcoin-to-the-moon-40x40.jpg" alt="green">
                    </a>
                  </div>      
                  <div class="work-widget-content">
                    <h6><a href="">Should You Invest In Bitcoin?</a></h6>
                    <p>June 1, 2018</p>                    
                  </div>
                </li>
              </ul>
            </div>
          </div>



        </div>
      </div>
    </div>

    <!-- Ends Welcome Section -->