{{!-- {{#if_eq details.0.about_us_header_image ''}} --}}
<div class="all-iner-banner" style="background-image: url(cms/about_us_image/default/about-us.jpg);">
  {{!-- {{/if_eq}} --}} {{!-- {{#if_neq details.0.about_us_header_image ''}}
  <div class="all-iner-banner" style="background-image: url(cms/about_us_image/{{details.0.about_us_header_image}});">
    {{/if_neq}} --}}

    <div class="image-overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <span class="page-title">
            Whitepapers
          </span>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="breadcumb">
            <ul>
              <li>
                <a href="/">Home</a>
              </li>
              <li>Whitepapers</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- End  Bootstrap-touch-slider Slider -->

  <!-- Starts Webticker Section -->

  <!-- Ends Webticker Section -->

  <!-- Starts Welcome Section -->

  <div class="about-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4>Whitepapers</h4>
          <p>Coin Jolt is a decentralized private equity fund that manages assets globally utilizing leading asset class diversification
            and portfolio management strategies. Their asset management practices are based on fundamental economic and market
            principles that mitigate risk and strive to innovate towards being able to generate consistently profitable returns.</p>

          <p>The enterprise's foundation is based on maintaining a top priority in the security of holdings through SHA-256
            encryption and multi-signature wallets, as well as, monitoring and routinely storing digital assets in distributed
            inaccessible storage offline with banking partners.</p>

          <p>With an opposition to drive stability, reduce volatility in digital currency prices and create economic growth,
            merging a combination of asset classes through their products and services.</p>

          <p>Blockchain based technologies is a considered an emerging asset class affecting virtually every sector throughout
            the global economy, creating ecosystems worth hundreds of billions of dollars. They strive to be at the forefront
            of these changes by providing an opportunity for incredibly high returns through investment opportunities, non-governance
            systems and innovative applications.</p>

          <p>The enterprise is based on creating and developing asset management based strategies in combination with solution
            oriented and utility based applications that are able to generate dividends to shareholders, daily interest in
            correlation to the ratio of tokens held, secure asset class exposure, portfolio diversification and equity across
            a variety of holdings.</p>
        </div>
      </div>

      <div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="call-to-action">
						<div class="action-box">
							<img width="75" src="/dist/img/private-equity.png" alt="Private Equity">
							<div class="action-text">
								<h4>Decentralized Private Equity Enterprise</h4>
								<p>Coin Jolt Shares are the first decentralized securities token that offers similar characteristics of a share certificate in an otherwise public company.</p>
								<a class="" href="#whitepaperV1Modal" data-toggle="modal" style="text-decoration:none !important; ">Click here to read full whitepaper version 1.0</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="call-to-action">
						<div class="action-box">
							<img width="75" src="/dist/img/wealth-distribution.png" alt="Wealth Distribution">
							<div class="action-text">
								<h4>Wealth Distribution Network</h4>
								<p>Our mission is to deliver safe and secure, reliable and quality products and services to the community.</p>
								<a class="" href="#whitepaperV2Modal" data-toggle="modal" style="text-decoration:none !important;">Click here to read full whitepaper version 2.0</a>
							</div> 
						</div>
					</div>
				</div>
			</div>

      <!-- Starts Whitepaper v:1.0 Modal  -->
      <div class="modal fade" id="whitepaperV1Modal" tabindex="-1" role="dialog" aria-labelledby="whitepaperV1ModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h3 style="font-size: 16px;" class="modal-title" id="whitepaperV1ModalLabel">Whitepaper Version 1.0</h3>
            </div>
            <div class="modal-body">
             <!-- Starts Whitepaper V:1.0 -->
              <div class="whitepaper-box v1">
              <div class="whitepaper-box-cover">
                <p style="text-align: center;">
                  Coin Jolt Shares (CJS) White Paper
                  <br>ICO Token Sale
                  <br>Decentralized Private Equity Enterprise
                </p>
              </div>
              <!-- Para List -->
              <div class="para-list">
                <div class="heading">
                  <span class="number">
                    1
                  </span>
                  <span>
                    Introduction
                  </span>
                </div>
                <div class="para-content">
                  <p>
                    Digital currencies or cryptocurrency, cryptography, decentralized ledgers, consensus algorithms and data mining are the future
                    of information distribution, security of data authenticity and global economic synchronism.
                  </p>
                  <p>
                    Current data models and infrastructures rely on centralized entities with negligence towards current economic, environmental,
                    technological and social climate. The majority of the global landscape is predicated on a deflationary monetary
                    system, poorly managed issuance of monetary supply, excessive government spending and poor allocation of financial
                    and human resources resulting in inadequate economic growth.
                  </p>
                </div>
              </div>
              <!--... Para List -->
              <!--Para List -->
              <div class="para-list">
                <div class="heading">
                  <span class="number">
                    2
                  </span>
                  <span>
                    Wealth Management
                  </span>
                </div>
                <div class="para-content">
                  <p>
                    Wealth management has been favored towards inaccessible private equity funds, tax intensive securities, low bearing mutual
                    funds, minimal interest appreciation based savings or IRAs, and poorly issued, repackaged overleveraged debt
                    obligations that lack any intrinsic value.
                  </p>
                  <p>
                    An example of this would be the devastating effect of the global economic crash in the 2008 mortgage crises. These economic
                    disturbances have lead to a new breed of financial restitution. Banks are no longer the primary entity of financial
                    security, fiduciary duty, sound financial management and faith that individuals and institutions depend on.
                  </p>
                  <p>
                    Investors have begun to seek alternative means to put their wealth, particularly with portfolio managers that offer unique
                    asset management skills, who actively utilize arbitrage allocation, asset class diversification and strategic
                    asset management across a variety of established capitalized markets and industries.
                  </p>
                  <p>
                    The investment approach outlined in this whitepaper is based on a continuous approach to innovative oriented solutions, creativity
                    and determination towards sound investing principles. Our fundamental investing strategies have taken cryptocurrency
                    investments and wealth management by storm, improving upon current wealth management models that utilize outdated
                    investment and financial management strategies that provide inadequate or minimal returns.
                  </p>
                </div>
              </div>
              <!--... Para List -->
              <!--Para List -->
              <div class="para-list">
                <div class="heading">
                  <span class="number">
                    3
                  </span>
                  <span>
                    Bitcoin and Cryptocurrency Utility
                  </span>
                </div>
                <div class="para-content">
                  <p>
                    Utility is a fundamental expression of value, as Bitcoin was originally pronounced as a peer-to-peer decentralized currency,
                    the cryptocurrency has reached a state of inadequacy due to overwhelming adoption, the cryptographic-based
                    digital currency suffered from recent block sizes having increased and transaction confirmations experiencing
                    profound delays, due to a congested network, creating a redundancy as an effective payment mechanism.
                  </p>
                  <p>
                    As prices surrounding cryptocurrency are extremely volatile, the factor of unpredictability is causing merchants to hold
                    off on accepting digital currencies as a suitable means of payment. These implications, have resulted in Bitcoin
                    and digital currencies being valued more as a wild-card store of value, or as a commoditized investment vehicle.
                  </p>
                  <p>
                    Without reconciliation through a collective community effort to create adoptive use cases for Bitcoin, cryptocurrencies will
                    continue be limited to blockchain based products and services that offer the fundamental values of decentralization,
                    security, public ledgers, transparent governance and consensus rules, without capitalizing on the economic
                    potential through being an adaptive technology and financial instrument with wide opportunities in terms of
                    utility.
                  </p>
                  <p>
                    By first understanding the concept of a lacking need towards the utility case for Bitcoin, digital currencies will continue
                    to remain stagnant. Coin Jolt is dedicated to creating actual use cases for Bitcoins and digital currencies,
                    striving to create economic activity, diversification of equity within different asset classes and by volumes
                    of transactions through our products and services, inevitably leading towards growth and maturity throughout
                    the entire cryptocurrency and global economy.
                  </p>
                  <p>
                    As seen in the following charts, the market capitalization of digital currencies is almost in direct proportion to the performance
                    of Bitcoin,
                    <a href="http://coinjolt.com/cryptocurrency-bitcoin-correlation.png" target="_blank">http://coinjolt.com/cryptocurrency-bitcoin-correlation.png</a>, one of our priorities is to stabilize the volatility
                    as well accelerate the growth, adoption and sound regulations that govern the industry.
                  </p>
                  <p>
                    Coin Jolt aims to create innovative solutions to enable cryptocurrencies for wide adoption through applications focused on
                    principles of ease of use, engagement, simplicity, and activity through an exchange of value, meanwhile being
                    able to provide a liquidity and an investment opportunity for early adopters. As our mission is to decrease
                    the volatility in prices across the highest capitalized digital assets and establish economic maturity and
                    the next stage of global adoption.
                  </p>
                </div>
              </div>
              <!--... Para List -->
              <!--Para List -->
              <div class="para-list">
                <div class="heading">
                  <span class="number">
                    4
                  </span>
                  <span>
                    Rules and Parameters
                  </span>
                </div>
                <div class="para-content">
                  <p>
                    Cryptocurrency has introduced a mathematics based, non-governance alternative in which any entity, regardless of state or
                    stature can participate, in addition to, enabling millions of people to partake in value denominated ecosystems
                    that offer a medium of exchange, a store of value and intrinsic value-based products and services around solution
                    oriented technology that solve real-use case problematic centralized infrastructure that has the potential
                    to drastically change the landscape throughout the global economy.
                  </p>
                  <p>
                    Coin Jolt aims to be at the forefront of these changes, as world-class financial experts and portfolio managers, on top of
                    employing highly established technical engineers and IT professionals to create innovative applications in
                    cryptocurrency.
                  </p>
                  <p>
                    Our mission is to be able to provide investors diversified holdings across a variety of asset classes that are proven to
                    generate attractive returns, 0.05% daily interest on the total amount invested until all tokens are circulation,
                    as well as annual dividends from revenues generated throughout the entire network through our holding company
                    paid out in our issuing currency, which includes applications as well as through a diversified portfolio of
                    holdings across a variety of asset classes.
                  </p>
                </div>
              </div>
              <!--... Para List -->
              <!--Para List -->
              <div class="para-list">
                <div class="heading">
                  <span class="number">
                    5
                  </span>
                  <span>
                    Token Sale Criteria
                  </span>
                </div>
                <div class="para-content">
                  <p>
                    The number of Coin Jolt Shares (CJS) that will be made available are 100,000,000,000 shares. Currencies accepted in this
                    token sale include the following:
                  </p>
                  <ol>
                    <li>
                      Bitcoin
                    </li>
                    <li>
                      Ethereum
                    </li>
                    <li>
                      Litecoin
                    </li>
                    <li>
                      Ripple (XRP)
                    </li>
                    <li>
                      Bitcoin Cash
                    </li>
                    <li>
                      Bitcoin Gold
                    </li>
                  </ol>
                  <p>
                    As well as the following ERC-20 tokens:
                  </p>
                  <ol type="a">
                    <li>
                      ERC
                    </li>
                    <li>
                      OMG
                    </li>
                    <li>
                      REP
                    </li>
                    <li>
                      PAY
                    </li>
                    <li>
                      BST
                    </li>
                    <li>
                      GNT
                    </li>
                    <li>
                      BAT
                    </li>
                    <li>
                      KNC
                    </li>
                    <li>
                      ZRX
                    </li>
                    <li>
                      FUN
                    </li>
                    <li>
                      CVC
                    </li>
                    <li>
                      EOS
                    </li>
                    <li>
                      QRL
                    </li>
                    <li>
                      NMR
                    </li>
                    <li>
                      BRD
                    </li>
                  </ol>
                  <p>
                    There are a zero dollars minimums in which investors are able to download our proprietary multi-signature, SHA-256 encrypted
                    wallets available for Android, Mac, Windows, iPhone as well as currently being developed other operating systems
                    for every device to accompany users preferences, that is fully integrated with all Coin Jolt applications.
                  </p>
                  <p>
                    A total of 100,000,000,000,000 (100bn) tokens will be issued with a total supply of 90,000,000,000 (90bn) as a reserve and
                    rolling out issuance.
                  </p>
                  <p>
                    The current value for Coin Jolt Shares (CJS) will be displayed on all Coin Jolt applications and a variety of other market
                    tracking tools and popular cryptocurrency platforms.
                  </p>
                </div>
              </div>
              <!--... Para List -->
              <!--Para List -->
              <div class="para-list">
                <div class="heading">
                  <span class="number">
                    6
                  </span>
                  <span>
                    Token Metrics Summary
                  </span>
                </div>
                <div class="para-content">
                  <ol type="a">
                    <li>
                      A total of $100m supply starting at $1 USD price.
                      <ol type="i">
                        <li>
                          49.9bn in corporate reserves.
                        </li>
                        <li>
                          40bn reserved for institutions, licensed banks and governments.
                        </li>
                        <li>
                          10bn reserved available for general population and digital asset exchanges.
                          <ol>
                            <li>
                              10bn will be released in the first year.
                            </li>
                            <li>
                              1bn released annually to control pre-determined value ongoing until all tokens are sold.
                            </li>
                          </ol>
                        </li>
                      </ol>
                    </li>
                    <li>
                      Zero dollar minimums, downloadable open-source wallet software.
                      <ol type="i">
                        <li>
                          Investor annual reports available on publicly available platforms including:
                          <ol>
                            <li>
                              Assets under management (applications, products, services, developments, equity profiles).
                            </li>
                            <li>
                              Calculated projections on token price (historical data charts, economic activity and trajectory for growth).
                            </li>
                            <li>
                              Performance reports (percentage increases and declines, volatility, number of users, number of transactions).
                            </li>
                            <li>
                              Third party licensed audit reports (regulated institutions re-affirming authenticity of data).
                            </li>
                            <li>
                              Other general information (direction of the network, prospectus, annual letter to shareholders).
                            </li>
                          </ol>
                        </li>
                      </ol>
                    </li>
                  </ol>
                  <p>
                    Taxes will also be required to be paid for capital gains on increased token prices if investors decide to liquidate their
                    holdings. Investors must be willing to fill out their name, email address and contact phone number to receive
                    notifications as well as submit two pieces of government-issued identification for KYC/AML regulations. Institutions
                    must be willing to submit the certificate of incorporation as well as articles of incorporation displaying
                    all shareholders and their corresponding banks with account holder name displayed.
                  </p>
                </div>
              </div>
              <!--... Para List -->

              <!--Para List -->
              <div class="para-list">
                <div class="heading">
                  <span class="number">
                    7
                  </span>
                  <span>
                    Collective Community Based Open-Source Wallet
                  </span>
                </div>
                <div class="para-content">
                  <p>
                    A total of 100,000,000,000 Coin Jolt Shares (CJS) will be issued and act as a share certificate or security token of ownership
                    for Coin Jolt, Inc as well as for the distribution of dividends off company revenues on products, services,
                    and applications. A percentage of dividends will be determined by the number of tokens held in correlation
                    to tokens in circulation providing daily interest and annual dividend yield as written in code through our
                    open-source protocol.
                  </p>
                  <ol type="a">
                    <li>
                      All wallets will display holdings of tokens 0/tokens in circulation.
                    </li>
                  </ol>
                  <p>
                    Dividends will be paid out in accordance with profits from revenue generated on products and services offered, or businesses,
                    as well as on the events of liquidity. Distributions will be paid out in the form of established capitalized
                    digital currencies, as well as cash settlements depending on investor preferences.
                  </p>
                </div>
              </div>
              <!--... Para List -->
              <div class="para-list">
                <div class="heading">
                  <span class="number">
                    8
                  </span>
                  <span>
                    Resolving Dividends and Investor Settlements
                  </span>
                </div>
                <div class="para-content">
                  <p>
                    Coin Jolt Shares (CJS) solve the issues with wire transfer procedures taking up to 14 business days for arrived settlements.
                    This is due to current banking infrastructure capitalizing off customers by using intermediary conversion and
                    trading processes.
                  </p>
                  <p>
                    For example: A $1,000,000 USD wire transfer at ABC Bank from Bob to XYZ Bank to Jennifer, would be held by the bank, converted
                    into alternative fiat currency, such as CAD at .90 cents on the dollar, then re-converted back to USD at $1.00
                    for a margin profit of $100,000, a total of 10% gain or $1,100,000, in which the bank acquires $100,000 and
                    deposits the remaining initial amount of $1,000,000 to Jennifer at XYZ Bank.
                  </p>
                  <p>
                    This process is just one use case within the banking industry and the reason for up to 14 delays in settlement times. In
                    the current state of the world, with the internet, money transfers should be instantaneous, as digital currencies
                    evolve, it's inevitable this will be the case, similar to sending an email. Coin Jolt Shares (CJS) aims to
                    solve this problem by decentralizing banking processes for investor settlements.
                  </p>
                  <p>
                    Coin Jolt Shares (CJS) stakeholders will provide diversity for investors with both tangible and intangible assets for growth
                    across a variety of cryptocurrency, as well a variety of different asset classes displayed across Coin Jolt®
                    applications.
                  </p>
                </div>
              </div>
              <!--... Para List -->
              <!--Para List -->
              <div class="para-list">
                <div class="heading">
                  <span class="number">
                    9
                  </span>
                  <span>
                    Asset Acquisition and Portfolio Management
                  </span>
                </div>
                <div class="para-content">
                  <ul>
                    <li>
                      Cryptocurrencies
                      <ul>
                        <li>
                          Bitcoin (BTC)
                        </li>
                        <li>
                          Ethereum (ETH)
                        </li>
                        <li>
                          Ripple (XRP)
                        </li>
                        <li>
                          Bitcoin Cash (BCH)
                        </li>
                        <li>
                          EOS (EOS)
                        </li>
                        <li>
                          Digital currencies that are made available in projects we deem fit as a suitable investment,primarily acquired during initial
                          coin offerings.
                        </li>
                      </ul>
                    </li>
                    <li>
                      Stocks
                      <ul>
                        <li>
                          Publicly traded securities.
                        </li>
                        <li>
                          Privately held securities.
                        </li>
                      </ul>
                    </li>
                    <li>
                      Real estate
                      <ul>
                        <li>
                          Residential homes
                        </li>
                        <li>
                          Commercial properties
                        </li>
                        <li>
                          Buildings and apartment complexes
                        </li>
                        <li>
                          Hotels
                        </li>
                        <li>
                          Restaurants
                        </li>
                      </ul>
                    </li>
                    <li>
                      Fiat Currencies
                      <ul>
                        <li>
                          Dollar
                        </li>
                        <li>
                          Euro
                        </li>
                        <li>
                          Yuan
                        </li>
                        <li>
                          Yen
                        </li>
                      </ul>
                    </li>
                    <li>
                      Commodities
                      <ul>
                        <li>
                          Gold
                        </li>
                        <li>
                          Silver
                        </li>
                      </ul>
                    </li>
                    <li>
                      Financial Instruments
                      <ul>
                        <li>
                          Private equity funds
                        </li>
                        <li>
                          Futures contracts
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
              <!--... Para List -->
              <!--Para List -->
              <div class="para-list">
                <div class="heading">
                  <span class="number">
                    10
                  </span>
                  <span>
                    Costs and Expenses
                  </span>
                </div>
                <div class="para-content">
                  <ul>
                    <li>
                      Management fees
                    </li>
                    <li>
                      Employee payroll
                    </li>
                    <li>
                      Operational costs
                    </li>
                    <li>
                      Maintenance
                    </li>
                    <li>
                      Utilities
                    </li>
                  </ul>
                  <p>
                    Coin Jolt will frequently update public records with information on acquisitions, current assets under management, revenues
                    and expenses, number of token holders through publicly recorded wallet addresses, profits and losses, total
                    revenues, dividend yield based on these metrics, and total appraisals for our entire portfolio through acquisitions.
                  </p>
                </div>
              </div>
              <!--... Para List -->
              <!--Para List -->
              <div class="para-list">
                <div class="heading">
                  <span class="number">
                    11
                  </span>
                  <span>
                    Products and Services
                  </span>
                </div>
                <div class="para-content">
                  <ul>
                    <li>
                      Digital Currency Exchange with Instant Transactions and Zero Fees – Buy and sell digital currencies instantly at calculated
                      market rates determined by tracking the majority of public exchanges with zero fees. Coin Jolt will act as
                      a decentralized open-source, transparent and public intermediary to facilitate these trades.
                    </li>
                    <li>
                      Managed Cryptocurrency Portfolio – A managed cryptocurrency portfolio with a projected 200% annual returns. Our portfolio
                      management offers a wide range of experience trading financial securities, real estate as well as being able
                      to provide liquidity on an unprecedented scale.
                    </li>
                    <li>
                      Coin Jolt Wallets (Online/Offline Vault) – Storing and securing assets for the majority of capitalized cryptocurrencies.
                      Utilizing proprietary software to successfully receive and send digital currencies. In addition to offering
                      full-fledged custodian services for cold storage, secured offline that is completely inaccessible from hackers,
                      thieves and attempts to breach security.
                      <ul>
                        <li>
                          Coin Jolt Wallet Application – Available for all devices and computers. Integrated with Coin Jolt dashboard for balances
                          display and transaction features.
                        </li>
                      </ul>
                    </li>
                    <li>
                      Coin Jolt Mobile – Mobile application for devices available on Android and iPhone that integrates all Coin Jolt products
                      and services.
                    </li>
                    <li>
                      Coin Jolt Escrow – Coin Jolt will act as an open-source, decentralized public intermediary to safely and securely facilitate
                      transactions for cryptocurrencies and assets, for both tangible and intangible assets. When two parties initiate
                      a transaction, Coin Jolt Escrow will hold and release the payments until both parties provide signing authority.
                      <ul>
                        <li>
                          Binding agreements, purchase agreements and other templates will be provided.
                        </li>
                      </ul>
                    </li>
                    <li>
                      Coin Jolt Marketplace – Connecting cryptocurrency enthusiasts with opportunities to trade for other assets.
                      <ul>
                        <li>
                          Users are able to create listings with prices, as well as create auctions and accept bids for cryptocurrencies.
                        </li>
                      </ul>
                    </li>
                  </ul>
                  <p>
                    Coin Jolt Shares (CJS) – Proprietary blockchain technology and securities token. Coin Jolt will pay dividends in correlation
                    to stake from all company revenues from all the products and services as well as interest on equity holders.
                  </p>
                </div>
              </div>
              <!--... Para List -->
              <!--Para List -->
              <div class="para-list">
                <div class="heading">
                  <span class="number">
                    12
                  </span>
                  <span>
                    Summary
                  </span>
                </div>
                <div class="para-content">
                  <p>
                    Coin Jolt is a private equity fund that manages assets on a global scale utilizing leading asset class diversification and
                    portfolio management strategies. Our foundation is based on fundamental economic and market principles that
                    mitigate risk, preserve wealth and strive to innovate towards being able to generate consistent profitable
                    returns.
                  </p>
                  <p>
                    Our foundation is based on arbitrage and systematic based investment and trading practices, in addition to maintaining a
                    top priority in security of holdings by monitoring and routinely storing digital assets in secured, offline
                    inaccessible storage distributed around the world.
                  </p>
                  <p>
                    Coin Jolt is dedicated to stay fully compliant, as well as abide by all domestic and international laws and regulations,
                    in which we operate both as an enterprise, and for the customers and clients we serve by staying up to date
                    and working with compliance and regulations across a wide spectrum of asset classes. Our opposition is to drive
                    stability, reduce volatility in digital currencies and create economic growth, merging a combination of asset
                    classes through our products, services and asset management strategies.
                  </p>
                  <p>
                    Blockchain based technologies is an emerging asset class affecting virtually every sector throughout the global economy,
                    creating ecosystems worth hundreds of billions of dollars. Coin Jolt strives to be at the forefront of these
                    changes by providing an opportunity for incredibly high returns through decentralized trust-less non-governance
                    systems and applications.
                  </p>
                  <p>
                    Our enterprise is based on creating and developing solution oriented applications, in combination with asset management based
                    principles that are able to generate dividends to shareholders, interest, asset class exposure, and equity
                    across a variety of holdings. In addition to developing highly valuable products and services that offer fundamental
                    blockchain based principles of decentralization, consensus algorithms, public ledgers, security and transparent
                    governance.
                  </p>
                </div>
              </div>
              <!--... Para List -->
            </div>
             <!-- Ends Whitepaper V:1.0 -->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
     <!-- Ends Whitepaper v:1.0 Modal  -->
      <!-- Starts Whitepaper v:2.0 Modal  -->
      <div class="modal fade" id="whitepaperV2Modal" tabindex="-1" role="dialog" aria-labelledby="whitepaperV2ModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h3 style="font-size: 16px;" class="modal-title" id="whitepaperV2ModalLabel">Whitepaper Version 2.0</h3>
            </div>
            <div class="modal-body">
              <!-- Starts Whitepaper V:2.0 -->
             <div class="whitepaper-box v2">
                <div class="whitepaper-box-cover">
                  <p style="text-align: center;">
                    Coin Jolt Shares (CJS) Token Whitepaper v2.0<br/>
					A Decentralized Wealth Distribution Network
                  </p>
                </div>
                <p>
                  Coin Jolt is based around blockchain and cryptocurrencies. Our mission is to deliver safe and secure, reliable and quality
                  products and services to the community. We focus both on the micro-economic scope of digital currencies, as well
                  as on the macro-economic scope, striving to boost the maturity and utility cases in the pre-existing, as well as
                  developing ecosystems that exist throughout cryptocurrency.
                </p>
                <p>
                  Our objective is to heighten awareness with Bitcoin, Ethereum, Litecoin and the majority of highly capitalized, established
                  digital assets, as we believe cryptocurrency is here to stay, as proven with the total market capitalization of
                  the entire space, currently valued at half a trillion dollars, with expectations of growth reaching upwards of
                  $8 - $10 trillion dollars, similar to the equivalent of gold or internet stocks referencing back to the early 2000s.
                </p>
                <p>
                  We value simplicity, design and seamless user interface with all of our products and services, lead by an exceptional team
                  of developers and advocates of innovation and economics. We strive to benefit the overall community aiming to create
                  more widespread adoption for newcomers to the industry, utilizing the fundamental aspects of blockchain technology,
                  combined with an ease of understanding, comfortability in security and trust within existing systems and protocols.
                </p>
                <p>
                  Our responsibility is at paramount height, in which we prioritize our role to deliver upon for the future of digital currency,
                  cryptography and the general cryptocurrency sector.
                </p>
                <p>
                  The principles and solutions our applications are based around embody values such as:
                </p>
                <p>
                  Non-governance solutions - no central authority or third party intermediaries other than the protocols of which applications
                  are written. All rules transparent, and projects open-source, available to the public to improve upon andinnovate
                  towards.
                </p>
                <p>
                  Decentralized distribution of data – accessible information spread across an established global infrastructure so that data
                  is secure, impenetrable by manipulation or self-driving interest. We focus on consensus and the general health
                  of the entire ecosystem.
                </p>
                <p>
                  Anonymous transparency - processes and procedures that can be taken place without revealing additional information other
                  than to the network requirements, in which consensus has agreed upon and debated as fundamental principles that
                  benefit the overall community.
                </p>
                <p>
                  Self-regulated ecosystems - independence through liability upon understanding the implications and technicalities of each
                  product and service, based on network values agreed upon by consensus, enabling participants to take precautionary
                  measures to secure their own assets and data. We provide the highest forms of encryption and security standards
                  in addition to educating how participants have complete control.
                </p>
                <p>
                  Education is essential to further grasp the economics of cryptocurrency. So for the first section of this document, we'll
                  be covering what specifically defines blockchain technology, enough so that a level of comprehension can be made
                  up to par with the pre-existing as well as ongoing development within the ecosystem.
                </p>
                <p>
                  There are a few questions that come to mind when you hear the term Bitcoin or cryptocurrency:
                </p>
                <ol>
                  <li>
                    What is Bitcoin?
                  </li>
                  <li>
                    How does a Bitcoin work?
                  </li>
                  <li>
                    What can I use Bitcoin, cryptocurrency and blockchain for?
                  </li>
                </ol>
                <p>
                  Upon answering these questions and realizing the truths to these questions, can we dictate and predict the general trajectory
                  of growth and necessity that cryptocurrency offers. Only when adopting these principles can one truly be optimistic
                  on the general scope of the technology.
                </p>

                <div class="para-list">
                  <div class="heading">
                    <span class="number">
                      1
                    </span>
                    <span>
                      Bitcoin – A Peer-to-Peer Decentralized Currency
                    </span>
                  </div>
                  <div class="para-content">
                    <p>
                      Bitcoin is a cryptographic based framework that form a network of users participating under technical-based rules that form
                      consensus and governance.
                    </p>
                    <p>
                      The most common of rules, is that there will only ever be 21 million Bitcoins to be in circulation.
                    </p>
                    <p>
                      All Bitcoin transactions are recorded on a decentralized ledger that run on millions of computers or nodes around the world
                      to secure authenticity of transactions and to prevent fraud, and double-spending. The network is secure, proven
                      it’s resilience and valuable for all of mentioned aspects.
                    </p>
                    <p>
                      Bitcoin uses a cryptographic hash function called SHA-256 to ensure safety and security, and it works like this:
                    </p>
                    <p>
                      SHA-256 simply outputs a string of 256 bits, that's a 256 long string of 1's and 0's for a given input. The output seems
                      random, but it's not. SHA-256 will always give the same output for a given input, but, it's impossible to take
                      the output and figure out what the input was. It's a one-way street. That means, in order to generate a specific
                      desired output, the only way of doing it, is by trial and error.
                    </p>
                    <p>
                      Guessing inputs and checking the output. And to do this quickly requires a significant amount of computational power. An
                      analogy can be described as employing millions of little monkeys in your computer to type numbers until one
                      manages to get it correctly.
                    </p>
                    <p>
                      So how does this apply to the blockchain verification of Bitcoin?
                    </p>
                    <p>
                      For a block to be added to the chain, it needs to be signed with a SHA-256 input that will result in a predetermined string
                      of zeroes at the start of the output. The number of zeroes needed is determined by how much computational power
                      is trying to verify the blockchain.
                    </p>
                    <p>
                      The more zeroes needed, the more computational power is required.
                    </p>
                    <p>
                      We want the blockchain to be verified every 10 minutes, so in order to maintain the verification time, the number of zeroes
                      needed keeps rising as more computational power is dedicated to the network.
                    </p>
                    <p>
                      It is through this huge dedication of power that ensures security of the blockchain. It would be unfeasible for an individual
                      to rewrite the blockchain with false information as they would first need to dedicate enough power to sign
                      previously written blocks and manage to keep up with the blocks currently being written by the rest of the
                      network. A herculean task.
                    </p>
                    <p>
                      Each added block consists of a set of transactions that were processed through the Bitcoin network that form a blockchain.
                      This records all transactions throughout the network creating a decentralized public ledger impenetrable by
                      bad actors.
                    </p>
                    <p>
                      Miners, or mining collectively pooling computational power to secure the authenticity of the network. Rewards are given to
                      these individuals, and groups as a result of solving the next block of transactions to be added to the network.
                      A reward between 0 - 50 Bitcoin is given to the miner first solving the SHA-256 algorithm by guessing the correct
                      output, which as described requires massive amounts of computation power. A block is solved approximately every
                      10 minutes with currently, 12.5 Bitcoin as the reward, halved after every 210,000 blocks as written in code.
                    </p>
                    <p>
                      An example transaction would be:
                    </p>
                    <p>
                      Carl - 1ac48q1u4jaq88anygav - (input / public key wallet address) sends 10 Bitcoins (j19fhybh2fn91qfg8 - transaction SHA-256
                      encrypted input) to Amanda (yn1v4810n1v1024mvu12 - input / public key wallet address). SHA-256 cryptography
                      keeps the entire network secure.
                    </p>
                  </div>
                </div>
                <!--... Para List -->
                <!--Para List -->
                <div class="para-list">
                  <div class="heading">
                    <span class="number">
                      2
                    </span>
                    <span>
                      An Introduction to Smart-Contracts
                    </span>
                  </div>
                  <div class="para-content">
                    <p>
                      Smart-contracts is a way of creating programmable functions which can be implemented on the blockchain, a step up for adoptive
                      use cases in comparison to Bitcoin, as merely a peer-to-peer decentralized peer-to-peer currency or store of
                      value.
                    </p>
                    <p>
                      At first, Ethereum was poised to be without par value, as developers realized applications and other use cases could be built
                      using blockchain technology, significant benefits, improving upon systems and current infrastructures surfaced
                      in which governance could be removed, increasing efficiencies without jeopardizing security. Sooner later,
                      Ethereum decided to add a denominated value so that interest could be leveraged for more adoption and that
                      developers working on these projects had a means to survive. Mildly put, some of the most sophisticated and
                      established individuals now reside within the space, developing upon these technologies and building applications
                      including previous employees at Google, Yahoo, Microsoft, Apple, Oracle and countless other previous senior
                      position executives in tech giant companies.
                    </p>
                    <p>
                      Programmable "smart-contract" based cryptocurrencies were introduced to the marketplace branching out into countless of ideas,
                      applications and utility cases in which is continuously being adopted and researched, with breakthrough development
                      towards innovative solutions surfacing everyday.
                    </p>
                  </div>
                </div>
                <!--... Para List -->
                <!--Para List -->
                <div class="para-list">
                  <div class="heading">
                    <span class="number">
                      3
                    </span>
                    <span>
                      The Evolution of Digital Currencies
                    </span>
                  </div>
                  <div class="para-content">
                    <p>
                      As these ideas began to attract more influence and began to spread, these ecosystems had grown from a very small market capitalization,
                      initially worth in the range of a few hundred thousand dollars, to now currently hundreds of billions of dollars.
                    </p>
                    <p>
                      The result, as a hyper growth technology with worldwide application with potential to affect virtually every existing industry,
                      it is now defined and referred to as cryptocurrency.
                    </p>
                  </div>
                </div>
                <!--... Para List -->
                <!--Para List -->
                <div class="para-list">
                  <div class="heading">
                    <span class="number">
                      4
                    </span>
                    <span>
                      Economics of Cryptocurrency
                    </span>
                  </div>
                  <div class="para-content">
                    <p>
                      The daily transaction volume in cryptocurrencies has reached heights of upwards of $30 billion dollars, creating a standard
                      for activity across these digital assets.
                    </p>
                    <p>
                      This adoption, has allowed for everyday merchants that offer products and services and anyone with a mobile device and an
                      internet connection, to have a means of exchange of value with unlimited adoptive capabilities through the
                      use of smart-contracts.
                    </p>
                    <p>
                      The result of which, created an opportunity of an open-transparency network bound by terms in which consensus has agreed
                      upon, completely trustless and secure by the participants in which these networks are comprised of, with continuous
                      growth and development as an emerging asset class.
                    </p>
                    <p>
                      The simplicity, ease of use, and seamlessness of these digital currencies resulted in a massive surge in adoption, as participants
                      within these ecosystems begun to realize the potential growth and development possibilities of the technology,
                      both for financial utility, technological, and network based solutions.
                    </p>
                  </div>
                </div>
                <!--... Para List -->
                <!--Para List -->
                <div class="para-list">
                  <div class="heading">
                    <span class="number">
                      5
                    </span>
                    <span>
                      Coin Jolt Shares – Peer-To-Peer Equity Exchange Based Network
                    </span>
                  </div>
                  <div class="para-content">
                    <p>
                      Coin Jolt plans to introduce a digital currency specifically tailored towards equity divisibility and use cases for how standard
                      corporations determine ownership within an entity or asset, by initially being an exemplary figure.
                    </p>
                    <p>
                      There are currently $118 trillion dollars and growing worth of global equities available on publicly traded exchanges. Coin
                      Jolt Shares is a cryptocurrency based decentralized network with a 100,000,000,000 token supply at a par value
                      of 1 USD per share, allowing for the most robust digital asset to reach the cryptocurrency ecosystem.
                    </p>
                    <p>
                      The digital asset is equity-based, for individuals, institutions, governments and banks we've partnered with to get exposure
                      through the cryptocurrency ecosystem, with instant liquidity through a decentralized supply of holdings across
                      a variety of assets.
                    </p>
                    <p>
                      The entire network will be completely open-source available for anyone regardless of state and stature as well developers
                      to build applications and services geared towards improving and accelerating the maturity and stability within
                      these digital currencies, in which participants can acquire assets and participate in a peer-to-peer decentralized
                      equity-based network.
                    </p>
                  </div>
                </div>
                <!--... Para List -->
                <!--Para List -->
                <div class="para-list">
                  <div class="heading">
                    <span class="number">
                      6
                    </span>
                    <span>
                      Maturity and Stabilization
                    </span>
                  </div>
                  <div class="para-content">
                    <p>
                      Through economic activity, and underlying assets based around cryptocurrencies and equities across a variety of different
                      asset classes, digital currency will have established a new standard of stability, maturity, utility case,
                      and adoption as the combining of current global infrastructure and cryptocurrency blend to reach consensus,
                      equilibrium through regulation, legislation and most importantly, widespread adoption.
                    </p>
                  </div>
                </div>
                <!--... Para List -->

                <!--Para List -->
                <div class="para-list">
                  <div class="heading">
                    <span class="number">
                      7
                    </span>
                    <span>
                      Metrics and Technical Aspects
                    </span>
                  </div>
                  <div class="para-content">
                    <p>
                      Each token will be set to have $1 USD dollar in par value, until an initial 100,000,000,000 (total max supply) are in circulation.
                    </p>
                    <p>
                      0.05% of daily cumulative compounded interest distributed daily at 00:00 EST until $10,000,000 (10m) tokens are released
                      in circulation for early adopters, programmed within from the first secure, unhackable node within the network.
                    </p>
                    <p>
                      Hosted on Amazon cloud servers for decentralized data storage for public applications with seamlessness integration for applications.
                    </p>
                    <p>
                      Avoidance of unnecessary disc space usage for proprietary wallet software, strictly focus on the token supply and of which
                      it derives economic value.
                    </p>
                    <ol type="a">
                      <li>
                        Initial applications hosted and provided by Amazon web services.
                      </li>
                      <li>
                        Fees and expenses covered by Coin Jolt.
                      </li>
                      <li>
                        Steep technical background and understanding of networks and systems.
                      </li>
                      <li>
                        Familiarity with legacy systems and maneuverability of economics.
                        <ol type="i">
                          <li>
                            Contract signed between Amazon for their services to ensure governing policy and mandate is followed, managed by senior technical
                            specialists at Amazon.
                          </li>
                          <li>
                            Proprietary wallet software protocol.
                          </li>
                        </ol>
                      </li>
                    </ol>
                    <p>
                      Wallet calculates holdings in proportion to available supply (0.0000000/100,000,000,000) with display for a comprehensive
                      view of the entire network.
                    </p>
                    <p>
                      Voting feature embedded within the wallet protocol to ensure everyone gets a vote to reach consensus upon rules of governance
                      in which the network has agreed upon, secured and openly transparent through the use of the blockchain.
                    </p>
                    <p>
                      Public platforms and applications developed and available to display transactions, equity profiles, number of users, market
                      conditions, economic value, utility case and a rolodex of products and services available to participate and
                      benefit from.
                    </p>
                    <ol type="a">
                      <li>
                        SHA-256 encryption and 2FA-Authentication across all applications.
                      </li>
                    </ol>
                    <p>
                      A digitally produced share certificate by a licensed Cayman Islands based entity, "Coin Jolt, Inc" updated daily displayed
                      within a proprietary wallet software showing holdings in correlation to outstanding shares for official regulation
                      and legislation to participate throughout the global economic ecosystem, allowing for partnerships with established
                      corporations institutions including a majority of blockchain and cryptocurrency based companies, the Securities
                      Exchange Commission (SEC), Amazon, major banks and other financial institutions as well as technology based
                      companies.
                    </p>
                    <p>
                      Ability to vote for directors and corporate decisions that govern the network based on equity through proprietary wallet
                      software.
                    </p>
                    <p>
                      Annual shareholders meeting to discuss future endeavors, share ideas and collectively address situations to determine the
                      direction of the network.
                    </p>
                    <p>
                      Utilizing
                      <a href="https://coinjolt.com" target="_blank">https://coinjolt.com</a>, Coin Jolt Share holders have instant liquidity with zero transaction fees, exchangeable
                      for a variety of capitalized assets available on a public registered domain,
                      <a href="https://coinjolt.com" target="_blank">https://coinjolt.com</a>.
                    </p>
                    <ol type="a">
                      <li>
                        Road Map:
                        <ol type="i">
                          <li>
                            Coin Jolt plans to release a series of products, services and applications oriented around digital currency and blockchain.
                            Our mission is to bridge the gap between cryptocurrencies and a variety of different asset classes, including
                            real estate, public and private securities and any other form of assets in established capitalized markets.
                          </li>
                          <li>
                            Our development team will continue to pursue creating simple, easy to use and secure integrations that allow for great user
                            interface while being able to mitigate risk of attackers, and structure our systems and infrastructure
                            to manage the most fundamental values of exchange in value, under agreed terms and sound contract governed
                            by consensus rules, as well as government regulation.
                          </li>
                          <li>
                            Including cryptocurrencies first zero transaction fee, instantly distributed digital asset exchange where users can buy,
                            sell, trade, store and invest digital assets simply and securely.
                          </li>
                        </ol>
                      </li>
                      <li>
                        Coin Jolt Requirements:
                        <ol type="i">
                          <li>
                            Must have a legal entity and residency in a country with government ID and verifiable documents.
                          </li>
                          <li>
                            Must pass all KYC/AML regulations.
                          </li>
                          <li>
                            Must submit all local and required forms for taxes on capital gains and use cases for participating within the network.
                          </li>
                          <li>
                            Can decide upon the option of using Coin Jolt services as a corporation or individual entity to register for our systems.
                          </li>
                        </ol>
                      </li>
                      <li>
                        Developers:
                        <ol type="i">
                          <li>
                            Must publish all code on GitHub to allow for open-source governance.
                          </li>
                        </ol>
                      </li>
                    </ol>
                  </div>
                </div>
                <!--... Para List -->
              </div>
             <!-- Ends Whitepaper V:2.0 -->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
     <!-- Ends Whitepaper v:2.0 Modal  -->

     
      
    </div>
  </div>