{{!-- {{#if_eq details.0.about_us_header_image ''}} --}}
  <div class="all-iner-banner" style="background-image: url(cms/about_us_image/default/about-us.jpg);">
{{!-- {{/if_eq}} --}}
{{!-- {{#if_neq details.0.about_us_header_image ''}}
  <div class="all-iner-banner" style="background-image: url(cms/about_us_image/{{details.0.about_us_header_image}});">
{{/if_neq}} --}}

      <div class="image-overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <span class="page-title">
              Whitepapers
            </span>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="breadcumb">
              <ul>
                <li><a href="/">Home</a></li>
                <li>Whitepapers</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- End  Bootstrap-touch-slider Slider -->

    <!-- Starts Webticker Section -->

    <!-- Ends Webticker Section -->

    <!-- Starts Welcome Section -->

    <div class="about-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h4>COINJOLT WEBSITE TERMS AND CONDITIONS OF USE</h4>
            <p>Coin Jolt is a decentralized private equity fund that manages assets globally utilizing leading asset class diversification and portfolio management strategies. Their asset management practices are based on fundamental economic and market principles that mitigate risk and strive to innovate towards being able to generate consistently profitable returns.</p>

            <p>The enterprise's foundation is based on maintaining a top priority in the security of holdings through SHA-256 encryption and multi-signature wallets, as well as, monitoring and routinely storing digital assets in distributed inaccessible storage offline with banking partners.</p>

            <p>With an opposition to drive stability, reduce volatility in digital currency prices and create economic growth, merging a combination of asset classes through their products and services.</p>

            <p>Blockchain based technologies is a considered an emerging asset class affecting virtually every sector throughout the global economy, creating ecosystems worth hundreds of billions of dollars. They strive to be at the forefront of these changes by providing an opportunity for incredibly high returns through investment opportunities, non-governance systems and innovative applications.</p>

            <p>The enterprise is based on creating and developing asset management based strategies in combination with solution oriented and utility based applications that are able to generate dividends to shareholders, daily interest in correlation to the ratio of tokens held, secure asset class exposure, portfolio diversification and equity across a variety of holdings.</p>
          </div>
        </div>
      </div>
    </div>