{{!-- {{#if_eq details.0.about_us_header_image ''}} --}}
<div class="all-iner-banner" style="background-image: url(cms/about_us_image/default/about-us.jpg);">
  {{!-- {{/if_eq}} --}} {{!-- {{#if_neq details.0.about_us_header_image ''}}
  <div class="all-iner-banner" style="background-image: url(cms/about_us_image/{{details.0.about_us_header_image}});">
    {{/if_neq}} --}}

    <div class="image-overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <span class="page-title">
            Whitepapers
          </span>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="breadcumb">
            <ul>
              <li>
                <a href="/">Home</a>
              </li>
              <li>Whitepapers</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- End  Bootstrap-touch-slider Slider -->

  <!-- Starts Webticker Section -->

  <!-- Ends Webticker Section -->

  <!-- Starts Welcome Section -->

  <div class="about-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4>Whitepapers</h4>
        </div>
      </div>
      <div class="whitepaper-box">
        <!-- Para List -->
        <div class="para-list">
          <div class="heading">
            <span class="number">
              1
            </span>
            <span>
              Introduction
            </span>
          </div>
          <div class="content">
            <p>
              Digital currencies or cryptocurrency, cryptography, decentralized ledgers, consensus algorithms and data mining are the future
              of information distribution, security of data authenticity and global economic synchronism.
            </p>
            <p>
              Current data models and infrastructures rely on centralized entities with negligence towards current economic, environmental,
              technological and social climate. The majority of the global landscape is predicated on a deflationary monetary
              system, poorly managed issuance of monetary supply, excessive government spending and poor allocation of financial
              and human resources resulting in inadequate economic growth.
            </p>
          </div>
        </div>
        <!--... Para List -->
        <!--Para List -->
        <div class="para-list">
          <div class="heading">
            <span class="number">
              2
            </span>
            <span>
              Wealth Management
            </span>
          </div>
          <div class="content">
            <p>
              Wealth management has been favored towards inaccessible private equity funds, tax intensive securities, low bearing mutual
              funds, minimal interest appreciation based savings or IRAs, and poorly issued, repackaged overleveraged debt
              obligations that lack any intrinsic value.
            </p>
            <p>
              An example of this would be the devastating effect of the global economic crash in the 2008 mortgage crises. These economic
              disturbances have lead to a new breed of financial restitution. Banks are no longer the primary entity of financial
              security, fiduciary duty, sound financial management and faith that individuals and institutions depend on.
            </p>
            <p>
              Investors have begun to seek alternative means to put their wealth, particularly with portfolio managers that offer unique
              asset management skills, who actively utilize arbitrage allocation, asset class diversification and strategic
              asset management across a variety of established capitalized markets and industries.
            </p>
            <p>
              The investment approach outlined in this whitepaper is based on a continuous approach to innovative oriented solutions, creativity
              and determination towards sound investing principles. Our fundamental investing strategies have taken cryptocurrency
              investments and wealth management by storm, improving upon current wealth management models that utilize outdated
              investment and financial management strategies that provide inadequate or minimal returns.
            </p>
          </div>
        </div>
        <!--... Para List -->
        <!--Para List -->
        <div class="para-list">
          <div class="heading">
            <span class="number">
              3
            </span>
            <span>
              Bitcoin and Cryptocurrency Utility
            </span>
          </div>
          <div class="content">
            <p>
              Utility is a fundamental expression of value, as Bitcoin was originally pronounced as a peer-to-peer decentralized currency,
              the cryptocurrency has reached a state of inadequacy due to overwhelming adoption, the cryptographic-based
              digital currency suffered from recent block sizes having increased and transaction confirmations experiencing
              profound delays, due to a congested network, creating a redundancy as an effective payment mechanism.
            </p>
            <p>
              As prices surrounding cryptocurrency are extremely volatile, the factor of unpredictability is causing merchants to hold
              off on accepting digital currencies as a suitable means of payment. These implications, have resulted in Bitcoin
              and digital currencies being valued more as a wild-card store of value, or as a commoditized investment vehicle.
            </p>
            <p>
              Without reconciliation through a collective community effort to create adoptive use cases for Bitcoin, cryptocurrencies will
              continue be limited to blockchain based products and services that offer the fundamental values of decentralization,
              security, public ledgers, transparent governance and consensus rules, without capitalizing on the economic
              potential through being an adaptive technology and financial instrument with wide opportunities in terms of
              utility.
            </p>
            <p>
              By first understanding the concept of a lacking need towards the utility case for Bitcoin, digital currencies will continue
              to remain stagnant. Coin Jolt is dedicated to creating actual use cases for Bitcoins and digital currencies,
              striving to create economic activity, diversification of equity within different asset classes and by volumes
              of transactions through our products and services, inevitably leading towards growth and maturity throughout
              the entire cryptocurrency and global economy.
            </p>
            <p>
              As seen in the following charts, the market capitalization of digital currencies is almost in direct proportion to the performance
              of Bitcoin,
              <a href="http://coinjolt.com/cryptocurrency-bitcoin-correlation.png" target="_blank">http://coinjolt.com/cryptocurrency-bitcoin-correlation.png</a>, one of our priorities is to stabilize the volatility
              as well accelerate the growth, adoption and sound regulations that govern the industry.
            </p>
            <p>
              Coin Jolt aims to create innovative solutions to enable cryptocurrencies for wide adoption through applications focused on
              principles of ease of use, engagement, simplicity, and activity through an exchange of value, meanwhile being
              able to provide a liquidity and an investment opportunity for early adopters. As our mission is to decrease
              the volatility in prices across the highest capitalized digital assets and establish economic maturity and
              the next stage of global adoption.
            </p>
          </div>
        </div>
        <!--... Para List -->
        <!--Para List -->
        <div class="para-list">
          <div class="heading">
            <span class="number">
              4
            </span>
            <span>
              Rules and Parameters
            </span>
          </div>
          <div class="content">
            <p>
              Cryptocurrency has introduced a mathematics based, non-governance alternative in which any entity, regardless of state or
              stature can participate, in addition to, enabling millions of people to partake in value denominated ecosystems
              that offer a medium of exchange, a store of value and intrinsic value-based products and services around solution
              oriented technology that solve real-use case problematic centralized infrastructure that has the potential
              to drastically change the landscape throughout the global economy.
            </p>
            <p>
              Coin Jolt aims to be at the forefront of these changes, as world-class financial experts and portfolio managers, on top of
              employing highly established technical engineers and IT professionals to create innovative applications in
              cryptocurrency.
            </p>
            <p>
              Our mission is to be able to provide investors diversified holdings across a variety of asset classes that are proven to
              generate attractive returns, 0.05% daily interest on the total amount invested until all tokens are circulation,
              as well as annual dividends from revenues generated throughout the entire network through our holding company
              paid out in our issuing currency, which includes applications as well as through a diversified portfolio of
              holdings across a variety of asset classes.
            </p>
          </div>
        </div>
        <!--... Para List -->
        <!--Para List -->
        <div class="para-list">
          <div class="heading">
            <span class="number">
              5
            </span>
            <span>
              Token Sale Criteria
            </span>
          </div>
          <div class="content">
            <p>
              The number of Coin Jolt Shares (CJS) that will be made available are 100,000,000,000 shares. Currencies accepted in this
              token sale include the following:
            </p>
            <ol>
              <li>
                Bitcoin
              </li>
              <li>
                Ethereum
              </li>
              <li>
                Litecoin
              </li>
              <li>
                Ripple (XRP)
              </li>
              <li>
                Bitcoin Cash
              </li>
              <li>
                Bitcoin Gold
              </li>
            </ol>
            <p>
              As well as the following ERC-20 tokens:
            </p>
            <ol type="a">
              <li>
                ERC
              </li>
              <li>
                OMG
              </li>
              <li>
                REP
              </li>
              <li>
                PAY
              </li>
              <li>
                BST
              </li>
              <li>
                GNT
              </li>
              <li>
                BAT
              </li>
              <li>
                KNC
              </li>
              <li>
                ZRX
              </li>
              <li>
                FUN
              </li>
              <li>
                CVC
              </li>
              <li>
                EOS
              </li>
              <li>
                QRL
              </li>
              <li>
                NMR
              </li>
              <li>
                BRD
              </li>
            </ol>
            <p>
              There are a zero dollars minimums in which investors are able to download our proprietary multi-signature, SHA-256 encrypted
              wallets available for Android, Mac, Windows, iPhone as well as currently being developed other operating systems
              for every device to accompany users preferences, that is fully integrated with all Coin Jolt applications.
            </p>
            <p>
              A total of 100,000,000,000,000 (100bn) tokens will be issued with a total supply of 90,000,000,000 (90bn) as a reserve and
              rolling out issuance.
            </p>
            <p>
              The current value for Coin Jolt Shares (CJS) will be displayed on all Coin Jolt applications and a variety of other market
              tracking tools and popular cryptocurrency platforms.
            </p>
          </div>
        </div>
        <!--... Para List -->
        <!--Para List -->
        <div class="para-list">
          <div class="heading">
            <span class="number">
              6
            </span>
            <span>
              Token Metrics Summary
            </span>
          </div>
          <div class="content">
            <ol type="a">
              <li>
                A total of $100m supply starting at $1 USD price.
                <ol type="i">
                  <li>
                    49.9bn in corporate reserves.
                  </li>
                  <li>
                    40bn reserved for institutions, licensed banks and governments.
                  </li>
                  <li>
                    10bn reserved available for general population and digital asset exchanges.
                    <ol>
                      <li>
                        10bn will be released in the first year.
                      </li>
                      <li>
                        1bn released annually to control pre-determined value ongoing until all tokens are sold.
                      </li>
                    </ol>
                  </li>
                </ol>
              </li>
              <li>
                Zero dollar minimums, downloadable open-source wallet software.
                <ol type="i">
                  <li>
                    Investor annual reports available on publicly available platforms including:
                    <ol>
                      <li>
                        Assets under management (applications, products, services, developments, equity profiles).
                      </li>
                      <li>
                        Calculated projections on token price (historical data charts, economic activity and trajectory for growth).
                      </li>
                      <li>
                        Performance reports (percentage increases and declines, volatility, number of users, number of transactions).
                      </li>
                      <li>
                        Third party licensed audit reports (regulated institutions re-affirming authenticity of data).
                      </li>
                      <li>
                        Other general information (direction of the network, prospectus, annual letter to shareholders).
                      </li>
                    </ol>
                  </li>
                </ol>
              </li>
            </ol>
            <p>
              Taxes will also be required to be paid for capital gains on increased token prices if investors decide to liquidate their
              holdings. Investors must be willing to fill out their name, email address and contact phone number to receive
              notifications as well as submit two pieces of government-issued identification for KYC/AML regulations. Institutions
              must be willing to submit the certificate of incorporation as well as articles of incorporation displaying
              all shareholders and their corresponding banks with account holder name displayed.
            </p>
          </div>
        </div>
        <!--... Para List -->

        <!--Para List -->
          <div class="para-list">
            <div class="heading">
              <span class="number">
                7
              </span>
              <span>
                Collective Community Based Open-Source Wallet
              </span>
            </div>
            <div class="content">
              <p>
                A total of 100,000,000,000 Coin Jolt Shares (CJS) will be issued and act as a share certificate or security token of ownership
                for Coin Jolt, Inc as well as for the distribution of dividends off company revenues on products, services,
                and applications. A percentage of dividends will be determined by the number of tokens held in correlation
                to tokens in circulation providing daily interest and annual dividend yield as written in code through our
                open-source protocol.
              </p>
              <ol type="a">
                <li>
                  All wallets will display holdings of tokens 0/tokens in circulation.
                </li>
              </ol>
              <p>
                Dividends will be paid out in accordance with profits from revenue generated on products and services offered, or businesses,
                as well as on the events of liquidity. Distributions will be paid out in the form of established capitalized
                digital currencies, as well as cash settlements depending on investor preferences.
              </p>
            </div>
          </div>
          <!--... Para List -->
          <div class="para-list">
          <div class="heading">
            <span class="number">
              8
            </span>
            <span>
              Resolving Dividends and Investor Settlements
            </span>
          </div>
          <div class="content">
            <p>
              Coin Jolt Shares (CJS) solve the issues with wire transfer procedures taking up to 14 business days for arrived settlements.
              This is due to current banking infrastructure capitalizing off customers by using intermediary conversion and
              trading processes.
            </p>
            <p>
              For example: A $1,000,000 USD wire transfer at ABC Bank from Bob to XYZ Bank to Jennifer, would be held by the bank, converted
              into alternative fiat currency, such as CAD at .90 cents on the dollar, then re-converted back to USD at $1.00
              for a margin profit of $100,000, a total of 10% gain or $1,100,000, in which the bank acquires $100,000 and
              deposits the remaining initial amount of $1,000,000 to Jennifer at XYZ Bank.
            </p>
            <p>
              This process is just one use case within the banking industry and the reason for up to 14 delays in settlement times. In
              the current state of the world, with the internet, money transfers should be instantaneous, as digital currencies
              evolve, it's inevitable this will be the case, similar to sending an email. Coin Jolt Shares (CJS) aims to
              solve this problem by decentralizing banking processes for investor settlements.
            </p>
            <p>
              Coin Jolt Shares (CJS) stakeholders will provide diversity for investors with both tangible and intangible assets for growth
              across a variety of cryptocurrency, as well a variety of different asset classes displayed across Coin Jolt®
              applications.
            </p>
          </div>
        </div>
        <!--... Para List -->
        <!--Para List -->
        <div class="para-list">
          <div class="heading">
            <span class="number">
              9
            </span>
            <span>
              Asset Acquisition and Portfolio Management
            </span>
          </div>
          <div class="content">
            <ul>
              <li>
                Cryptocurrencies
                <ul>
                  <li>
                    Bitcoin (BTC)
                  </li>
                  <li>
                    Ethereum (ETH)
                  </li>
                  <li>
                    Ripple (XRP)
                  </li>
                  <li>
                    Bitcoin Cash (BCH)
                  </li>
                  <li>
                    EOS (EOS)
                  </li>
                  <li>
                    Digital currencies that are made available in projects we deem fit as a suitable investment,primarily acquired during initial
                    coin offerings.
                  </li>
                </ul>
              </li>
              <li>
                Stocks
                <ul>
                  <li>
                    Publicly traded securities.
                  </li>
                  <li>
                    Privately held securities.
                  </li>
                </ul>
              </li>
              <li>
                Real estate
                <ul>
                  <li>
                    Residential homes
                  </li>
                  <li>
                    Commercial properties
                  </li>
                  <li>
                    Buildings and apartment complexes
                  </li>
                  <li>
                    Hotels
                  </li>
                  <li>
                    Restaurants
                  </li>
                </ul>
              </li>
              <li>
                Fiat Currencies
                <ul>
                  <li>
                    Dollar
                  </li>
                  <li>
                    Euro
                  </li>
                  <li>
                    Yuan
                  </li>
                  <li>
                    Yen
                  </li>
                </ul>
              </li>
              <li>
                Commodities
                <ul>
                  <li>
                    Gold
                  </li>
                  <li>
                    Silver
                  </li>
                </ul>
              </li>
              <li>
                Financial Instruments
                <ul>
                  <li>
                    Private equity funds
                  </li>
                  <li>
                    Futures contracts
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <!--... Para List -->
        <!--Para List -->
        <div class="para-list">
          <div class="heading">
            <span class="number">
              10
            </span>
            <span>
              Costs and Expenses
            </span>
          </div>
          <div class="content">
            <ul>
              <li>
                Management fees
              </li>
              <li>
                Employee payroll
              </li>
              <li>
                Operational costs
              </li>
              <li>
                Maintenance
              </li>
              <li>
                Utilities
              </li>
            </ul>
            <p>
              Coin Jolt will frequently update public records with information on acquisitions, current assets under management, revenues
              and expenses, number of token holders through publicly recorded wallet addresses, profits and losses, total
              revenues, dividend yield based on these metrics, and total appraisals for our entire portfolio through acquisitions.
            </p>
          </div>
        </div>
        <!--... Para List -->
        <!--Para List -->
        <div class="para-list">
          <div class="heading">
            <span class="number">
              11
            </span>
            <span>
              Products and Services
            </span>
          </div>
          <div class="content">
            <ul>
              <li>
                Digital Currency Exchange with Instant Transactions and Zero Fees – Buy and sell digital currencies instantly at calculated
                market rates determined by tracking the majority of public exchanges with zero fees. Coin Jolt will act as
                a decentralized open-source, transparent and public intermediary to facilitate these trades.
              </li>
              <li>
                Managed Cryptocurrency Portfolio – A managed cryptocurrency portfolio with a projected 200% annual returns. Our portfolio
                management offers a wide range of experience trading financial securities, real estate as well as being able
                to provide liquidity on an unprecedented scale.
              </li>
              <li>
                Coin Jolt Wallets (Online/Offline Vault) – Storing and securing assets for the majority of capitalized cryptocurrencies.
                Utilizing proprietary software to successfully receive and send digital currencies. In addition to offering
                full-fledged custodian services for cold storage, secured offline that is completely inaccessible from hackers,
                thieves and attempts to breach security.
                <ul>
                  <li>
                    Coin Jolt Wallet Application – Available for all devices and computers. Integrated with Coin Jolt dashboard for balances
                    display and transaction features.
                  </li>
                </ul>
              </li>
              <li>
                Coin Jolt Mobile – Mobile application for devices available on Android and iPhone that integrates all Coin Jolt products and services.
              </li>
              <li>
               Coin Jolt Escrow – Coin Jolt will act as an open-source, decentralized public intermediary to safely and securely facilitate transactions for cryptocurrencies and assets, for both tangible and intangible assets. When two parties initiate a transaction, Coin Jolt Escrow will hold and release the payments until both parties provide signing authority.
                <ul>
                  <li>
                    Binding agreements, purchase agreements and other templates will be provided.
                  </li>
                </ul>
              </li>
              <li>
              Coin Jolt Marketplace – Connecting cryptocurrency enthusiasts with opportunities to trade for other assets.
                <ul>
                  <li>
                   Users are able to create listings with prices, as well as create auctions and accept bids for cryptocurrencies.
                  </li>
                </ul>
              </li>
            </ul>
            <p>
              Coin Jolt Shares (CJS) – Proprietary blockchain technology and securities token. Coin Jolt will pay dividends in correlation to stake from all company revenues from all the products and services as well as interest on equity holders.
            </p>
          </div>
        </div>
        <!--... Para List -->
        <!--Para List -->
        <div class="para-list">
          <div class="heading">
            <span class="number">
              12
            </span>
            <span>
             Summary
            </span>
          </div>
          <div class="content">
            <p>
             Coin Jolt is a private equity fund that manages assets on a global scale utilizing leading asset class diversification and portfolio management strategies. Our foundation is based on fundamental economic and market principles that mitigate risk, preserve wealth and strive to innovate towards being able to generate consistent profitable returns.
            </p>
            <p>
              Our foundation is based on arbitrage and systematic based investment and trading practices, in addition to maintaining a top priority in security of holdings by monitoring and routinely storing digital assets in secured, offline inaccessible storage distributed around the world.
            </p>
            <p>
              Coin Jolt is dedicated to stay fully compliant, as well as abide by all domestic and international laws and regulations, in which we operate both as an enterprise, and for the customers and clients we serve by staying up to date and working with compliance and regulations across a wide spectrum of asset classes. Our opposition is to drive stability, reduce volatility in digital currencies and create economic growth, merging a combination of asset classes through our products, services and asset management strategies.
            </p>
            <p>
              Blockchain based technologies is an emerging asset class affecting virtually every sector throughout the global economy, creating ecosystems worth hundreds of billions of dollars. Coin Jolt strives to be at the forefront of these changes by providing an opportunity for incredibly high returns through decentralized trust-less non-governance systems and applications.
            </p>
            <p>
              Our enterprise is based on creating and developing solution oriented applications, in combination with asset management based principles that are able to generate dividends to shareholders, interest, asset class exposure, and equity across a variety of holdings. In addition to developing highly valuable products and services that offer fundamental blockchain based principles of decentralization, consensus algorithms, public ledgers, security and transparent governance.
            </p>
          </div>
        </div>
        <!--... Para List -->
      </div>
    </div>
  </div>