<section class="content-header">
    <h1>Privacy Policy</h1>
    <ol class="breadcrumb">
        <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="javascript:void(0)"></i> Privacy Policy</a></li>
    </ol>
</section>
<section class="content container-fluid">
    <!-- Starts Deposit Funds -->
    <div class="deposit-funds">
      <div class="row">
        <div class="col-md-12">
          <!-- /.box-header -->
          <div class="box-body">
            <form method="post" action="javasript:void(0)" role="form" id="cms-privacy-policy" name="cms-privacy-policy" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Subject">Header Description</label>
                            <textarea rows="" cols="" name="privacy_policy_header_description" class="form-control" id="privacy_policy_header_description"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Subject">Header Image</label>
                                <input class="form-control" type="file" name="privacy_policy_header_image" id="privacy_policy_header_image">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Description">Body Description</label>
                            <textarea name="privacy_policy_description" class="form-control" id="privacy_policy_description" placeholder="Enter Description"></textarea>
                        </div>
                    </div>
                    <div class="col-md-2 col-md-offset-5 pd-612">
                        <div class="form-group">
                            <input class="btn btn-primary" type="button" id="cms_privacy_policy_submit" value="Submit" />
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</div>
</div>
</div>
<!-- Ends Deposit Funds -->
</section>

