<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="title-with-btn pd-612">
       <div class="pull-left">
        <h1>Risk Disclosures</h1>
    </div>
    <div class="clearfix"></div>
</div>

<ol class="breadcrumb">
  <li>
    <a href="/dashboard">
      <i class="fa fa-dashboard"></i> Home</a>
  </li>
  <li class="active">Risk Disclosures</li>
</ol>
</section>

<div class="loader"></div>

<!-- Main content -->
<section class="content container-fluid">
    <!-- Starts email-marketing -->
            <div class="email-marketing">
          <div class="box box-primary">
            <div class="box-body">
                <form name="risk_disclosures_form" id="risk_disclosures_form" action="" method="POST" enctype="multipart/form-data">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Risk Disclosures Image Title: </label>
                    <input type="text" class="form-control input-lg" id="risk_disclosures_image_title" name="risk_disclosures_image_title" placeholder="Enter Banner Image Title" value="{{risk_disclosures.risk_disclosures_header_desc}}">
                  </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="banner_image">Upload Risk Disclosures Banner Image</label>
                        <input name="risk_disclosures_banner_image" class="form-control" id="risk_disclosures_banner_image" type="file">
                    </div>
                    
                    <div>
                        <img src="/cms/risk_disclosures/{{risk_disclosures.risk_disclosures_header_image}}" style="width:100px;height:100px;">
                    </div>

                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="risk_disclosures_body">Risk Disclosures Content</label>
                        <textarea name="risk_disclosures_body" class="form-control" id="risk_disclosures_body" placeholder="Enter Risk Disclosures Body">{{risk_disclosures.risk_disclosures_content}}</textarea>
                    </div>
                </div>
                <div class="col-md-2 col-md-offset-5 pd-612">
                    <div class="form-group">
                        <input class="btn btn-primary save_risk_disclosures" value="Edit" type="button">
                    </div>
                </div>
              </div>

              </form>

            </div>
          </div>
        </div>
    <!-- Ends email-marketing -->
</section>
<!-- /.content -->

