<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Add a Blog Post</h1>

<ol class="breadcrumb">
  <li>
    <a href="/admin/dashboard">
      <i class="fa fa-dashboard"></i>Home</a>
  </li>
  <li>
    <a href="/admin/blog">Manage Blog</a>
  </li>
  <li class="active">Add a Blog Post</li>
</ol>
</section>

<div class="loader"></div>

<!-- Main content -->
<section class="content container-fluid">
    <!-- Starts email-marketing -->
            <div class="email-marketing">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Create a Blog Post</h3>
            </div>
            <div class="box-body">
                <form name="create_blog_post_form" id="create_blog_post_form" action="" method="POST" enctype="multipart/form-data">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="blog_post_title">Post Title:</label>
                    <input type="text" class="form-control input-lg" id="blog_post_title" name="blog_post_title" placeholder="Post Title" value="">
                  </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label for="post_slug">Post Slug:</label>
                         <input type="text" class="form-control input-lg" id="post_slug" name="post_slug" placeholder="Post Slug" value="">
                    </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                    <label for="post_description">Post Description:</label>

                    <textarea name="blog_desc" class="form-control" id="post_description" placeholder="Post Description"></textarea>
                  </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label for="post_featured_image">Upload a Featured Image</label>
                        <input name="post_featured_image" class="form-control" id="post_featured_image" type="file">
                    </div>
                </div>

                <div class="col-md-12">
                    <label for="post_category">Post Category:</label>

                    <select class="form-control" id="post_category" name="post_category">
                      {{#each blog_categories}}
                        <option value="{{this.id}}">{{this.category_name}}</option>
                      {{/each}}
                    </select>
                </div>


                <div class="col-md-12">
                  <div class="form-group">
                    <label for="meta_title">Meta Title:</label>
                    <input type="text" class="form-control input-lg" id="meta_title" name="meta_title" placeholder="Meta Title" value="">
                  </div>
                </div>
                <div class="col-md-12">
                     <div class="form-group">
                        <label for="meta_description">Meta Description:</label>
                        <textarea class="form-control input-lg" id="meta_description" name="meta_description" placeholder="Meta Description"></textarea>
                    </div>
                </div>

                {{!-- <div class="col-md-12">
                    <div class="form-group">
                        <label for="author_name">Author Name:</label>
                         <input type="text" class="form-control input-lg" id="author_name" name="author_name" placeholder="Author Name" value="">
                    </div>
                </div> --}}

                 <div class="col-md-12">
                     <div class="form-group">
                        <label for="meta_keywords">Meta Keywords:</label>
                        <textarea class="form-control input-lg" id="meta_keywords" name="meta_keywords" placeholder="Meta keywords"></textarea>
                    </div>
                </div>

                <div class="col-md-12">
                     <div class="form-group">
                        <label for="post_author_name">Author Name:</label>
                        {{!-- <input type="text" class="form-control input-lg" id="post_author_name" name="post_author_name" placeholder="Author Name" value=""> --}}
                        <select class="form-control" id="edit_post_author_name" name="edit_post_author_name">
                          {{#each authors}}
                            <option value="{{this.id}}">{{this.author_name}}</option>
                          {{/each}}
                        </select>
                    </div>
                </div>

                {{!--  <div class="col-md-12">
                    <div class="form-group">
                        <label for="post_author_image">Upload a Author Image</label>
                        <input name="post_author_image" class="form-control" id="post_author_image" type="file">
                    </div>
                </div> --}}

                {{!-- <div class="col-md-12">
                     <div class="form-group">
                        <label for="author_description">Author Bio:</label>
                        <textarea class="form-control input-lg" id="author_description" name="author_description" placeholder="Author Description"></textarea>
                    </div>
                </div> --}}


                 <div class="col-md-2 col-md-offset-5">
                    <div class="form-group">
                        <input class="btn btn-primary save_blog" id="save_blog" value="Create Post" type="button">
                    </div>
                </div>
              </div>

              </form>

            </div>
          </div>
        </div>
    <!-- Ends email-marketing -->
</section>
<!-- /.content -->

