<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="title-with-btn pd-612">
       <div class="pull-left">
        <h1>Create Blog Categories</h1>
    </div>
    <div class="clearfix"></div>
</div>

<ol class="breadcrumb">
  <li>
    <a href="/dashboard">
      <i class="fa fa-dashboard"></i> Home</a>
  </li>
  <li class="active">Create Blog Categories</li>
</ol>
</section>

<div class="loader"></div>

<!-- Main content -->
<section class="content container-fluid">
    <!-- Starts email-marketing -->
            <div class="email-marketing">
          <div class="box box-primary">
            <div class="box-body">
                <form name="create_blog_category_form" id="create_blog_category_form" action="" method="POST">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="blog_category_title">Category Title: </label>
                    <input type="text" class="form-control input-lg" id="blog_category_title" name="blog_category_title" placeholder="Enter Category Title" value="">
                  </div>
                </div>
                <div class="col-md-12">
                    <label for="status">Status:</label>
                    <select class="form-control" id="status" name="status">
                        <option value="1" selected>Enable</option>
                        <option value="0">Disable</option>
                    </select>
                </div>
                 <div class="col-md-2 col-md-offset-5 pd-612">
                    <div class="form-group">
                        <input class="btn btn-primary save_blog_category" id="save_blog_category" value="Create Category" type="button">
                    </div>
                </div>
              </div>

              </form>

            </div>
          </div>
        </div>
    <!-- Ends email-marketing -->
</section>
<!-- /.content -->

